In [232]:
import pandas as pd
import numpy as np
import sys
sys.path.append("../..")
from data.dataset import DATASET as mainDf
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import f_classif
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [235]:
# write the necessary functions
# df = mainDf.loc[mainDf['risk1'].notnull()]
# t = np.where(np.isnan(x))

def getRowsForRisks(df, columns):
    partialDf = []
    for column in columns:
        data = df.loc[df[column].notnull()]
        partialDf.append(data)

    return partialDf

'''
def cleanDataframe(data):
    data = np.nan_to_num(data)
    data = data.drop(columns=['country','city'])
    return data
'''
def preprocess(data, risks):
    data = data.drop(columns=['country','city','country_code','c40'])
    data = data.drop(columns= risks)

    return data

def getImportantFeatures(df, label, risks):
    y = df.loc[:, label]
    x = df.loc[:, df.columns != label]

    #risks.remove(label)
    #print(risks)
    
    x = x.drop(columns=['country','city','country_code','c40'])
    cols = [col for col in x.columns if col.lower()[:4] != 'risk']
    x = x[cols]

    #l = x.columns[x.isna().any()].tolist()
    #print(l)

    var_num = x.shape[1]
    var_num = int((var_num*15)/100)
    print("Picked variable number:",var_num)

    # Applying select K-best
    bestFeatures = SelectKBest(score_func=f_classif, k=var_num)
    fit = bestFeatures.fit(x,y)
    dfscores = pd.DataFrame(fit.scores_)
    dfcolumns = pd.DataFrame(x.columns)

    #Concat two dataframes for better visualization
    featureScores = pd.concat([dfcolumns,dfscores],axis=1)
    featureScores.columns = ['Specs','Score']
    print(featureScores.nlargest(var_num,'Score'))  #print 15% of the total features according to the score features

In [ ]:
#mainDf['Density'] = mainDf['']

In [226]:
display(mainDf)
print(mainDf.info)

,city,latitude,longitude,population,country_code,c40,risk0,risk1,risk2,risk3,...,SDG 6.4.1. Services Water Use Efficiency,SDG 6.4.1. Water Use Efficiency,SDG 6.4.2. Water Stress,Seasonal variability (WRI),Total internal renewable water resources per capita,Total population with access to safe drinking-water (JMP),Total renewable water resources per capita,Total water withdrawal per capita,Urban population with access to safe drinking-water (JMP),country
0,Aalborg,57.0337,9.9166,122219.0,DNK,False,NaN,NaN,NaN,NaN,...,558.335628,368.612902,20.040562,1.300000,1046.705025,100.0,1046.705025,129.285516,100.0,Denmark
1,Aarhus,56.1572,10.2107,237551.0,DNK,False,NaN,NaN,NaN,NaN,...,558.335628,368.612902,20.040562,1.300000,1046.705025,100.0,1046.705025,129.285516,100.0,Denmark
2,Copenhagen,55.6786,12.5635,1085000.0,DNK,False,NaN,2.0,NaN,2.0,...,558.335628,368.612902,20.040562,1.300000,1046.705025,100.0,1046.705025,129.285516,100.0,Denmark
3,Esbjerg,55.4670,8.4500,72205.0,DNK,False,NaN,NaN,NaN,NaN,...,558.335628,368.612902,20.040562,1.300000,1046.705025,100.0,1046.705025,129.285516,100.0,Denmark
4,Frederikshavn,57.4337,10.5333,24103.0,DNK,False,NaN,2.0,NaN,NaN,...,558.335628,368.612902,20.040562,1.300000,1046.705025,100.0,1046.705025,129.285516,100.0,Denmark
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1206,Teaoraereke,1.3333,173.0000,5105.0,KIR,False,NaN,NaN,NaN,NaN,...,110.288104,80.302831,68.505925,2.532741,-1779.609434,66.9,0.000000,414.127038,87.3,Kiribati
1207,Trindade,0.3000,6.6667,6636.0,STP,False,NaN,NaN,NaN,NaN,...,17.162254,7.489641,1.876147,2.502891,10526.874919,97.1,10526.874919,197.499626,98.9,Sao Tome and Principe
1208,Victoria,-4.6236,55.4544,26450.0,SYC,False,NaN,NaN,NaN,NaN,...,120.471023,89.323035,69.243227,1.601611,-2157.596566,95.7,0.000000,142.089651,95.7,Seychelles
1209,Warsaw,52.2167,21.0333,1790658.0,POL,True,0.0,0.0,2.0,0.0,...,153.691550,43.570222,34.890966,0.600000,1412.266377,98.3,1594.069324,265.616741,99.3,Poland
1210,Abasan Al-Kabira,31.3231,34.3440,32000.0,PSE,False,NaN,2.0,2.0,2.0,...,51.887163,34.748970,41.078306,3.100000,171.047224,58.4,176.313456,79.035614,50.7,Palestine

<bound method DataFrame.info of                   city  latitude  longitude  population country_code    c40  \
0              Aalborg   57.0337     9.9166    122219.0          DNK  False
1               Aarhus   56.1572    10.2107    237551.0          DNK  False
2           Copenhagen   55.6786    12.5635   1085000.0          DNK  False
3              Esbjerg   55.4670     8.4500     72205.0          DNK  False
4        Frederikshavn   57.4337    10.5333     24103.0          DNK  False
...                ...       ...        ...         ...          ...    ...
1206       Teaoraereke    1.3333   173.0000      5105.0          KIR  False
1207          Trindade    0.3000     6.6667      6636.0          STP  False
1208          Victoria   -4.6236    55.4544     26450.0          SYC  False
1209            Warsaw   52.2167    21.0333   1790658.0          POL   True
1210  Abasan Al-Kabira   31.3231    34.3440     32000.0          PSE  False

      risk0  risk1  risk2  risk3  ...  \
0       NaN    NaN    NaN    NaN  ...
1       NaN    NaN    NaN    NaN  ...
2       NaN    2.0    NaN    2.0  ...
3       NaN    NaN    NaN    NaN  ...
4       NaN    2.0    NaN    NaN  ...
...     ...    ...    ...    ...  ...
1206    NaN    NaN    NaN    NaN  ...
1207    NaN    NaN    NaN    NaN  ...
1208    NaN    NaN    NaN    NaN  ...
1209    0.0    0.0    2.0    0.0  ...
1210    NaN    2.0    2.0    2.0  ...

      SDG 6.4.1. Services Water Use Efficiency  \
0                                   558.335628
1                                   558.335628
2                                   558.335628
3                                   558.335628
4                                   558.335628
...                                        ...
1206                                110.288104
1207                                 17.162254
1208                                120.471023
1209                                153.691550
1210                                 51.887163

      SDG 6.4.1. Water Use Efficiency  SDG 6.4.2. Water Stress  \
0                          368.612902                20.040562
1                          368.612902                20.040562
2                          368.612902                20.040562
3                          368.612902                20.040562
4                          368.612902                20.040562
...                               ...                      ...
1206                        80.302831                68.505925
1207                         7.489641                 1.876147
1208                        89.323035                69.243227
1209                        43.570222                34.890966
1210                        34.748970                41.078306

      Seasonal variability (WRI)  \
0                       1.300000
1                       1.300000
2                       1.300000
3                       1.300000
4                       1.300000
...                          ...
1206                    2.532741
1207                    2.502891
1208                    1.601611
1209                    0.600000
1210                    3.100000

      Total internal renewable water resources per capita  \
0                                           1046.705025
1                                           1046.705025
2                                           1046.705025
3                                           1046.705025
4                                           1046.705025
...                                                 ...
1206                                       -1779.609434
1207                                       10526.874919
1208                                       -2157.596566
1209                                        1412.266377
1210                                         171.047224

      Total population with access to safe drinking-water (JMP)  \
0                                                 100.0
1                                                 100.0
2                                                 100.0
3                                                 100.0
4                                                 100.0
...                                                 ...
1206                                               66.9
1207                                               97.1
1208                                               95.7
1209                                               98.3
1210                                               58.4

      Total renewable water resources per capita  \
0                                    1046.705025
1                                    1046.705025
2                                    1046.705025
3                                    1046.705025
4                                    1046.705025
...                                          ...
1206                                    0.000000
1207                                10526.874919
1208                                    0.000000
1209                                 1594.069324
1210                                  176.313456

      Total water withdrawal per capita  \
0                            129.285516
1                            129.285516
2                            129.285516
3                            129.285516
4                            129.285516
...                                 ...
1206                         414.127038
1207                         197.499626
1208                         142.089651
1209                         265.616741
1210                          79.035614

      Urban population with access to safe drinking-water (JMP)  \
0                                                 100.0
1                                                 100.0
2                                                 100.0
3                                                 100.0
4                                                 100.0
...                                                 ...
1206                                               87.3
1207                                               98.9
1208                                               95.7
1209                                               99.3
1210                                               50.7

                    country
0                   Denmark
1                   Denmark
2                   Denmark
3                   Denmark
4                   Denmark
...                     ...
1206               Kiribati
1207  Sao Tome and Principe
1208             Seychelles
1209                 Poland
1210              Palestine

[1211 rows x 157 columns]>

In [227]:
mainDf.columns.values

array(['city', 'latitude', 'longitude', 'population', 'country_code',
       'c40', 'risk0', 'risk1', 'risk2', 'risk3', 'risk4', 'risk5',
       'risk6',
       'Population with at least some secondary education (% ages 25 and older)',
       'Population with at least some secondary education, female (% ages 25 and older)',
       'Population with at least some secondary education, male (% ages 25 and older)',
       'Mean years of schooling, female (years)',
       'Mean years of schooling, male (years)',
       'Share of seats in parliament (% held by women)',
       'Adolescent birth rate (births per 1,000 women ages 15-19)',
       'Vulnerable employment (% of total employment)',
       'Total population (millions)', 'Urban population (%)',
       'Labour force participation rate (% ages 15 and older), female',
       'Labour force participation rate (% ages 15 and older), male',
       'Sex ratio at birth (male to female births)',
       'Remittances, inflows (% of GDP)',
       'Foreign direct investment, net inflows (% of GDP)',
       'Population ages 15?64 (millions)',
       'Infants lacking immunization, measles (% of one-year-olds)',
       'Infants lacking immunization, DTP (% of one-year-olds)',
       'Gross fixed capital formation (% of GDP)',
       'Gender Inequality Index (GII)',
       'Life expectancy at birth (years)',
       'Expected years of schooling (years)',
       'Inequality-adjusted education index',
       'Inequality-adjusted life expectancy index',
       'Inequality in education (%)', 'Inequality in life expectancy (%)',
       'Mean years of schooling (years)', 'Life expectancy index',
       'Income index', 'Education index',
       'Unemployment, youth (% ages 15?24)',
       'Private capital flows (% of GDP)',
       'Life expectancy at birth, female (years)',
       'Life expectancy at birth, male (years)',
       'Young age (0-14) dependency ratio (per 100 people ages 15-64)',
       'Old-age (65 and older) dependency ratio (per 100 people ages 15-64)',
       'Expected years of schooling, female (years)',
       'Expected years of schooling, male (years)',
       'Population ages 65 and older (millions)',
       'Population under age 5 (millions)',
       'Exports and imports (% of GDP)', 'Human Development Index (HDI)',
       'Unemployment, total (% of labour force)', 'HDI rank',
       'Youth not in school or employment (% ages 15-24)',
       'Labour force participation rate (% ages 15 and older)',
       'Employment to population ratio (% ages 15 and older)',
       'Employment in agriculture (% of total employment)',
       'Employment in services (% of total employment)',
       'Working poor at PPP$3.20 a day (% of total employment)',
       'Total unemployment rate (female to male ratio)',
       'Youth unemployment rate (female to male ratio)',
       'Share of employment in nonagriculture, female (% of total employment in nonagriculture)',
       'Gross capital formation (% of GDP)',
       'Gross domestic product (GDP), total (2017 PPP $ billions)',
       'GDP per capita (2017 PPP $)',
       'Gross national income (GNI) per capita (constant 2017 PPP$)',
       'Gender Development Index (GDI)',
       'Estimated gross national income per capita, female (2017 PPP $)',
       'Estimated gross national income per capita, male (2017 PPP $)',
       'Human Development Index (HDI), female',
       'Human Development Index (HDI), male',
       'Inequality-adjusted income index',
       'Overall loss in HDI due to inequality (%)',
       'Inequality in income (%)', 'Coefficient of human inequality',
       'Inequality-adjusted HDI (IHDI)',
       'Duration of compulsory education (years)',
       'Official entrance age to lower secondary education (years)',
       'Official entrance age to primary education (years)',
       'Theoretical duration of primary education (years)',
       'Theoretical duration of secondary education (years)',
       'Theoretical duration of upper secondary education (years)',
       'Adjusted net enrolment rate, primary, both sexes (%)',
       'Gross enrolment ratio, lower secondary, both sexes (%)',
       'Gross enrolment ratio, lower secondary, female (%)',
       'Gross enrolment ratio, lower secondary, male (%)',
       'Gross enrolment ratio, pre-primary, both sexes (%)',
       'Gross enrolment ratio, pre-primary, female (%)',
       'Gross enrolment ratio, pre-primary, male (%)',
       'Gross enrolment ratio, primary, both sexes (%)',
       'Gross enrolment ratio, primary, female (%)',
       'Gross enrolment ratio, primary, gender parity index (GPI)',
       'Gross enrolment ratio, primary, male (%)',
       'Gross enrolment ratio, secondary, both sexes (%)',
       'Gross enrolment ratio, secondary, female (%)',
       'Gross enrolment ratio, secondary, gender parity index (GPI)',
       'Gross enrolment ratio, secondary, male (%)',
       'Gross enrolment ratio, upper secondary, both sexes (%)',
       'Gross intake ratio to Grade 1 of primary education, both sexes (%)',
       'Gross intake ratio to Grade 1 of primary education, female (%)',
       'Gross intake ratio to Grade 1 of primary education, male (%)',
       'Internet users (per 100 people)',
       'Labor force, female (% of total labor force)',
       'Mortality rate, under-5 (per 1,000 live births)',
       'Net enrolment rate, primary, both sexes (%)',
       'Percentage of enrolment in pre-primary education in private institutions (%)',
       'Percentage of enrolment in primary education in private institutions (%)',
       'Percentage of enrolment in secondary education in private institutions (%)',
       'Percentage of female students enrolled in primary education who are over-age, female (%)',
       'Percentage of male students enrolled in primary education who are over-age, male (%)',
       'Percentage of repeaters in primary education, all grades, both sexes (%)',
       'Percentage of repeaters in primary education, all grades, female (%)',
       'Percentage of repeaters in primary education, all grades, male (%)',
       'Percentage of students enrolled in primary education who are over-age, both sexes (%)',
       'Percentage of students in pre-primary education who are female (%)',
       'Percentage of students in primary education who are female (%)',
       'Percentage of students in secondary education who are female (%)',
       'Percentage of students in secondary general education who are female (%)',
       'Population ages 0-14 (% of total)',
       'Population ages 15-64 (% of total)',
       'Population growth (annual %)', 'Population, female (% of total)',
       'Population, male (% of total)',
       'Prevalence of HIV, total (% of population ages 15-49)',
       'Primary completion rate, both sexes (%)',
       'Primary completion rate, female (%)',
       'Primary completion rate, male (%)',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)',
       'Unemployment, male (% of male labor force) (modeled ILO estimate)',
       'Unemployment, total (% of total labor force) (modeled ILO estimate)',
       'Agricultural water withdrawal as % of total renewable water resources',
       'Agricultural water withdrawal as % of total water withdrawal',
       'Dam capacity per capita', 'Dependency ratio',
       'Flood occurrence (WRI)',
       'Industrial water withdrawal as % of total water withdrawal',
       'Interannual variability (WRI)',
       'MDG 7.5. Freshwater withdrawal as % of total renewable water resources',
       'Municipal water withdrawal as % of total withdrawal',
       'National Rainfall Index (NRI)',
       'Rural population with access to safe drinking-water (JMP)',
       'SDG 6.4.1. Industrial Water Use Efficiency',
       'SDG 6.4.1. Irrigated Agriculture Water Use Efficiency',
       'SDG 6.4.1. Services Water Use Efficiency',
       'SDG 6.4.1. Water Use Efficiency', 'SDG 6.4.2. Water Stress',
       'Seasonal variability (WRI)',
       'Total internal renewable water resources per capita',
       'Total population with access to safe drinking-water (JMP)',
       'Total renewable water resources per capita',
       'Total water withdrawal per capita',
       'Urban population with access to safe drinking-water (JMP)',
       'country'], dtype=object)

In [228]:
a = mainDf.columns.values.tolist()
#print(a)
risks = a[6:13]
risks_index = [i for i in range(6,14)]
print(risks)
print(risks_index)

['risk0', 'risk1', 'risk2', 'risk3', 'risk4', 'risk5', 'risk6']
[6, 7, 8, 9, 10, 11, 12, 13]

In [229]:
mylist = getRowsForRisks(mainDf, risks)
print(len(mylist))
for i in range(len(mylist)):
    print("Only",mylist[i].shape[0],"rows are available for risk",i)

7
Only 87 rows are available for risk 0
Only 148 rows are available for risk 1
Only 262 rows are available for risk 2
Only 184 rows are available for risk 3
Only 98 rows are available for risk 4
Only 65 rows are available for risk 5
Only 59 rows are available for risk 6

In [209]:
#display(mylist[0])

In [230]:
for i in range(len(risks)):
    print("For the", risks[i])
    getImportantFeatures(mylist[i], risks[i], risks)

For the risk0
Picked variable number: 21
                                                 Specs     Score
57   Gross domestic product (GDP), total (2017 PPP ...  4.032056
41             Population ages 65 and older (millions)  3.234697
52   Working poor at PPP$3.20 a day (% of total emp...  2.961307
27                         Inequality in education (%)  2.900850
4    Population with at least some secondary educat...  2.875645
3    Population with at least some secondary educat...  2.794997
17   Foreign direct investment, net inflows (% of GDP)  2.734514
5    Population with at least some secondary educat...  2.687594
8       Share of seats in parliament (% held by women)  2.518464
43                      Exports and imports (% of GDP)  2.435197
97     Mortality rate, under-5 (per 1,000 live births)  2.434818
54      Youth unemployment rate (female to male ratio)  2.378745
6              Mean years of schooling, female (years)  2.320540
29                     Mean years of schooling (years)  2.288210
140                         Seasonal variability (WRI)  2.281711
25                 Inequality-adjusted education index  2.278543
20   Infants lacking immunization, DTP (% of one-ye...  2.241470
7                Mean years of schooling, male (years)  2.202431
113                 Population ages 15-64 (% of total)  2.131375
129  Industrial water withdrawal as % of total wate...  2.076123
55   Share of employment in nonagriculture, female ...  2.029959
For the risk1
Picked variable number: 21
                                                 Specs     Score
139                            SDG 6.4.2. Water Stress  2.384240
131  MDG 7.5. Freshwater withdrawal as % of total r...  2.284233
15          Sex ratio at birth (male to female births)  2.013427
124  Agricultural water withdrawal as % of total re...  1.905545
113                 Population ages 15-64 (% of total)  1.880945
73   Theoretical duration of primary education (years)  1.684554
83      Gross enrolment ratio, primary, both sexes (%)  1.541050
86            Gross enrolment ratio, primary, male (%)  1.532738
127                                   Dependency ratio  1.425988
57   Gross domestic product (GDP), total (2017 PPP ...  1.424238
8       Share of seats in parliament (% held by women)  1.382509
84          Gross enrolment ratio, primary, female (%)  1.359256
17   Foreign direct investment, net inflows (% of GDP)  1.339769
79    Gross enrolment ratio, lower secondary, male (%)  1.304760
120                  Primary completion rate, male (%)  1.281982
108  Percentage of students in pre-primary educatio...  1.274030
71   Official entrance age to lower secondary educa...  1.269978
77   Gross enrolment ratio, lower secondary, both s...  1.191542
105  Percentage of repeaters in primary education, ...  1.133958
56                  Gross capital formation (% of GDP)  1.117967
82        Gross enrolment ratio, pre-primary, male (%)  1.097822
For the risk2
Picked variable number: 21
                                                 Specs     Score
15          Sex ratio at birth (male to female births)  9.603556
42                   Population under age 5 (millions)  8.946279
12                                Urban population (%)  6.994506
1                                            longitude  5.041633
51      Employment in services (% of total employment)  4.992443
43                      Exports and imports (% of GDP)  4.888268
85   Gross enrolment ratio, primary, gender parity ...  4.549239
2                                           population  4.512192
18                    Population ages 15?64 (millions)  4.295458
11                         Total population (millions)  4.247240
47    Youth not in school or employment (% ages 15-24)  4.063776
124  Agricultural water withdrawal as % of total re...  4.020394
55   Share of employment in nonagriculture, female ...  3.736031
33                  Unemployment, youth (% ages 15?24)  3.716163
140                         Seasonal variability (WRI)  3.520999
143         Total renewable water resources per capita  3.466147
46                                            HDI rank  3.446833
117  Prevalence of HIV, total (% of population ages...  3.433586
125  Agricultural water withdrawal as % of total wa...  3.375907
108  Percentage of students in pre-primary educatio...  3.279478
141  Total internal renewable water resources per c...  3.275523
For the risk3
Picked variable number: 21
                                                 Specs     Score
20   Infants lacking immunization, DTP (% of one-ye...  6.317368
139                            SDG 6.4.2. Water Stress  5.932886
61   Estimated gross national income per capita, fe...  5.745365
103  Percentage of male students enrolled in primar...  5.560096
58                         GDP per capita (2017 PPP $)  5.517526
86            Gross enrolment ratio, primary, male (%)  5.476403
59   Gross national income (GNI) per capita (consta...  5.476136
17   Foreign direct investment, net inflows (% of GDP)  5.408560
107  Percentage of students enrolled in primary edu...  5.297553
62   Estimated gross national income per capita, ma...  5.261685
65                    Inequality-adjusted income index  5.161004
47    Youth not in school or employment (% ages 15-24)  5.074771
66           Overall loss in HDI due to inequality (%)  5.014906
68                     Coefficient of human inequality  4.964745
102  Percentage of female students enrolled in prim...  4.867687
7                Mean years of schooling, male (years)  4.769835
83      Gross enrolment ratio, primary, both sexes (%)  4.684686
25                 Inequality-adjusted education index  4.660731
69                      Inequality-adjusted HDI (IHDI)  4.598973
131  MDG 7.5. Freshwater withdrawal as % of total r...  4.588831
137           SDG 6.4.1. Services Water Use Efficiency  4.540159
For the risk4
Picked variable number: 21
                                                 Specs     Score
2                                           population  4.238141
17   Foreign direct investment, net inflows (% of GDP)  4.047825
72   Official entrance age to primary education (ye...  2.799918
139                            SDG 6.4.2. Water Stress  2.659589
124  Agricultural water withdrawal as % of total re...  2.407488
55   Share of employment in nonagriculture, female ...  2.382328
131  MDG 7.5. Freshwater withdrawal as % of total r...  2.317424
71   Official entrance age to lower secondary educa...  2.089519
106  Percentage of repeaters in primary education, ...  2.084780
130                      Interannual variability (WRI)  2.037742
104  Percentage of repeaters in primary education, ...  2.017553
105  Percentage of repeaters in primary education, ...  1.903794
75   Theoretical duration of upper secondary educat...  1.899938
96        Labor force, female (% of total labor force)  1.803010
73   Theoretical duration of primary education (years)  1.741427
125  Agricultural water withdrawal as % of total wa...  1.535765
118            Primary completion rate, both sexes (%)  1.510997
120                  Primary completion rate, male (%)  1.508865
119                Primary completion rate, female (%)  1.466181
53      Total unemployment rate (female to male ratio)  1.462469
143         Total renewable water resources per capita  1.425699
For the risk5
Picked variable number: 21
                                                 Specs     Score
118            Primary completion rate, both sexes (%)  3.563256
120                  Primary completion rate, male (%)  3.544382
96        Labor force, female (% of total labor force)  3.532329
119                Primary completion rate, female (%)  3.422088
93   Gross intake ratio to Grade 1 of primary educa...  3.358630
139                            SDG 6.4.2. Water Stress  3.299769
105  Percentage of repeaters in primary education, ...  3.184275
104  Percentage of repeaters in primary education, ...  3.037696
126                            Dam capacity per capita  2.995629
106  Percentage of repeaters in primary education, ...  2.827590
138                    SDG 6.4.1. Water Use Efficiency  2.825583
92   Gross intake ratio to Grade 1 of primary educa...  2.759364
125  Agricultural water withdrawal as % of total wa...  2.551538
72   Official entrance age to primary education (ye...  2.523001
124  Agricultural water withdrawal as % of total re...  2.451325
131  MDG 7.5. Freshwater withdrawal as % of total r...  2.404436
94   Gross intake ratio to Grade 1 of primary educa...  2.254044
75   Theoretical duration of upper secondary educat...  2.217189
13   Labour force participation rate (% ages 15 and...  2.083317
1                                            longitude  2.080374
56                  Gross capital formation (% of GDP)  2.053453
For the risk6
Picked variable number: 21
                                                 Specs     Score
126                            Dam capacity per capita  7.859680
141  Total internal renewable water resources per c...  3.812833
143         Total renewable water resources per capita  3.380294
97     Mortality rate, under-5 (per 1,000 live births)  2.240188
129  Industrial water withdrawal as % of total wate...  2.220216
17   Foreign direct investment, net inflows (% of GDP)  2.108698
116                      Population, male (% of total)  1.971691
115                    Population, female (% of total)  1.971691
14   Labour force participation rate (% ages 15 and...  1.802461
127                                   Dependency ratio  1.717670
36              Life expectancy at birth, male (years)  1.694206
93   Gross intake ratio to Grade 1 of primary educa...  1.631741
35            Life expectancy at birth, female (years)  1.621792
23                    Life expectancy at birth (years)  1.616291
30                               Life expectancy index  1.604256
139                            SDG 6.4.2. Water Stress  1.574999
20   Infants lacking immunization, DTP (% of one-ye...  1.567967
108  Percentage of students in pre-primary educatio...  1.496970
125  Agricultural water withdrawal as % of total wa...  1.470392
28                   Inequality in life expectancy (%)  1.447237
113                 Population ages 15-64 (% of total)  1.434985

In [ ]:
# Density features
# Try to get other algorithms

# PCA Part

In [236]:
pca_df = preprocess(mainDf, risks)

val = pca_df.loc[:, pca_df.columns].values
print(val)

val = StandardScaler().fit_transform(val)
print(val.shape)

[[ 5.70337000e+01  9.91660000e+00  1.22219000e+05 ...  1.04670502e+03
   1.29285516e+02  1.00000000e+02]
 [ 5.61572000e+01  1.02107000e+01  2.37551000e+05 ...  1.04670502e+03
   1.29285516e+02  1.00000000e+02]
 [ 5.56786000e+01  1.25635000e+01  1.08500000e+06 ...  1.04670502e+03
   1.29285516e+02  1.00000000e+02]
 ...
 [-4.62360000e+00  5.54544000e+01  2.64500000e+04 ...  0.00000000e+00
   1.42089651e+02  9.57000000e+01]
 [ 5.22167000e+01  2.10333000e+01  1.79065800e+06 ...  1.59406932e+03
   2.65616741e+02  9.93000000e+01]
 [ 3.13231000e+01  3.43440000e+01  3.20000000e+04 ...  1.76313456e+02
   7.90356138e+01  5.07000000e+01]]
(1211, 146)

In [237]:
np.mean(val), np.std(val)

(-1.5753580332000003e-17, 0.9999999999999999)

In [244]:
feat_cols = pca_df.columns.values.tolist()

normalized_val = pd.DataFrame(val, columns=feat_cols)
normalized_val.head()

,latitude,longitude,population,Population with at least some secondary education (% ages 25 and older),"Population with at least some secondary education, female (% ages 25 and older)","Population with at least some secondary education, male (% ages 25 and older)","Mean years of schooling, female (years)","Mean years of schooling, male (years)",Share of seats in parliament (% held by women),"Adolescent birth rate (births per 1,000 women ages 15-19)",...,SDG 6.4.1. Irrigated Agriculture Water Use Efficiency,SDG 6.4.1. Services Water Use Efficiency,SDG 6.4.1. Water Use Efficiency,SDG 6.4.2. Water Stress,Seasonal variability (WRI),Total internal renewable water resources per capita,Total population with access to safe drinking-water (JMP),Total renewable water resources per capita,Total water withdrawal per capita,Urban population with access to safe drinking-water (JMP)
0,1.467421,0.151965,-0.311815,0.874158,0.892489,0.843159,1.028015,0.90614,1.265226,-1.06401,...,0.197712,2.825792,2.028162,-0.104547,-1.089573,-0.400115,0.675537,-0.453103,-0.860845,0.575867
1,1.433283,0.156056,-0.275791,0.874158,0.892489,0.843159,1.028015,0.90614,1.265226,-1.06401,...,0.197712,2.825792,2.028162,-0.104547,-1.089573,-0.400115,0.675537,-0.453103,-0.860845,0.575867
2,1.414643,0.188786,-0.011093,0.874158,0.892489,0.843159,1.028015,0.90614,1.265226,-1.06401,...,0.197712,2.825792,2.028162,-0.104547,-1.089573,-0.400115,0.675537,-0.453103,-0.860845,0.575867
3,1.406401,0.131563,-0.327436,0.874158,0.892489,0.843159,1.028015,0.90614,1.265226,-1.06401,...,0.197712,2.825792,2.028162,-0.104547,-1.089573,-0.400115,0.675537,-0.453103,-0.860845,0.575867
4,1.483000,0.160544,-0.342461,0.874158,0.892489,0.843159,1.028015,0.90614,1.265226,-1.06401,...,0.197712,2.825792,2.028162,-0.104547,-1.089573,-0.400115,0.675537,-0.453103,-0.860845,0.575867

In [252]:
num_components = 10
pca_final = PCA(n_components=num_components)
pComponents_final = pca_final.fit_transform(val)
component_col = ['PC'+str(i+1) for i in range(num_components)]
print(component_col)

percentage_list = [element * 100 for element in pca_final.explained_variance_ratio_]
percentage_list = ['%.2f' % elem for elem in percentage_list]
print(percentage_list)

['PC1', 'PC2', 'PC3', 'PC4', 'PC5', 'PC6', 'PC7', 'PC8', 'PC9', 'PC10']
['34.82', '6.52', '5.80', '4.47', '3.82', '3.72', '3.20', '2.74', '2.37', '2.04']

In [253]:
pc_final_df = pd.DataFrame(data = pComponents_final, columns = component_col)
print(pc_final_df.shape)
pc_final_df.head()

(1211, 10)

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10
0,-9.540110,0.019157,0.477666,-2.337302,3.658370,-0.632142,-0.183594,3.254421,-1.015154,-1.577583
1,-9.537514,0.016874,0.479962,-2.332278,3.654878,-0.633276,-0.177372,3.256280,-1.015655,-1.578514
2,-9.535176,0.016018,0.474026,-2.299660,3.626128,-0.656317,-0.178641,3.264781,-1.028709,-1.579314
3,-9.536335,0.016155,0.484889,-2.337650,3.659678,-0.624048,-0.168553,3.254929,-1.012147,-1.578845
4,-9.540960,0.019347,0.476505,-2.341621,3.662356,-0.632251,-0.187811,3.253393,-1.013999,-1.577352

In [254]:
print('Explained variation percentage per principal component: {}'.format(percentage_list))
total_explained_percentage = (sum(pca_final.explained_variance_ratio_)*100)
print('Total percentage of the explained data by',pca_final.n_components,'components is: %.2f' %total_explained_percentage)
print('Percentage of the information that is lost for using',pca_final.n_components,'components is: %.2f' %(100-total_explained_percentage))

Explained variation percentage per principal component: ['34.82', '6.52', '5.80', '4.47', '3.82', '3.72', '3.20', '2.74', '2.37', '2.04']
Total percentage of the explained data by 10 components is: 69.51
Percentage of the information that is lost for using 10 components is: 30.49

In [255]:
mainDf_v2 = mainDf.merge(pc_final_df, left_index=True, right_index=True)
print(mainDf.shape)
print(mainDf_v2.shape)

(1211, 157)
(1211, 167)

## Doing the feature selection again after the addition of the Principal Components

In [256]:
mylist2 = getRowsForRisks(mainDf_v2, risks)
print(len(mylist2))
for i in range(len(mylist2)):
    print("Only",mylist2[i].shape[0],"rows are available for risk",i)

7
Only 87 rows are available for risk 0
Only 148 rows are available for risk 1
Only 262 rows are available for risk 2
Only 184 rows are available for risk 3
Only 98 rows are available for risk 4
Only 65 rows are available for risk 5
Only 59 rows are available for risk 6

In [257]:
for i in range(len(risks)):
    print("For the", risks[i])
    getImportantFeatures(mylist2[i], risks[i], risks)

For the risk0
Picked variable number: 23
                                                 Specs     Score
57   Gross domestic product (GDP), total (2017 PPP ...  4.032056
41             Population ages 65 and older (millions)  3.234697
52   Working poor at PPP$3.20 a day (% of total emp...  2.961307
27                         Inequality in education (%)  2.900850
4    Population with at least some secondary educat...  2.875645
3    Population with at least some secondary educat...  2.794997
17   Foreign direct investment, net inflows (% of GDP)  2.734514
5    Population with at least some secondary educat...  2.687594
8       Share of seats in parliament (% held by women)  2.518464
43                      Exports and imports (% of GDP)  2.435197
97     Mortality rate, under-5 (per 1,000 live births)  2.434818
54      Youth unemployment rate (female to male ratio)  2.378745
155                                               PC10  2.372770
6              Mean years of schooling, female (years)  2.320540
29                     Mean years of schooling (years)  2.288210
140                         Seasonal variability (WRI)  2.281711
25                 Inequality-adjusted education index  2.278543
20   Infants lacking immunization, DTP (% of one-ye...  2.241470
7                Mean years of schooling, male (years)  2.202431
147                                                PC2  2.132533
113                 Population ages 15-64 (% of total)  2.131375
129  Industrial water withdrawal as % of total wate...  2.076123
55   Share of employment in nonagriculture, female ...  2.029959
For the risk1
Picked variable number: 23
                                                 Specs     Score
139                            SDG 6.4.2. Water Stress  2.384240
131  MDG 7.5. Freshwater withdrawal as % of total r...  2.284233
15          Sex ratio at birth (male to female births)  2.013427
124  Agricultural water withdrawal as % of total re...  1.905545
113                 Population ages 15-64 (% of total)  1.880945
73   Theoretical duration of primary education (years)  1.684554
83      Gross enrolment ratio, primary, both sexes (%)  1.541050
86            Gross enrolment ratio, primary, male (%)  1.532738
127                                   Dependency ratio  1.425988
57   Gross domestic product (GDP), total (2017 PPP ...  1.424238
8       Share of seats in parliament (% held by women)  1.382509
84          Gross enrolment ratio, primary, female (%)  1.359256
17   Foreign direct investment, net inflows (% of GDP)  1.339769
79    Gross enrolment ratio, lower secondary, male (%)  1.304760
120                  Primary completion rate, male (%)  1.281982
108  Percentage of students in pre-primary educatio...  1.274030
71   Official entrance age to lower secondary educa...  1.269978
77   Gross enrolment ratio, lower secondary, both s...  1.191542
148                                                PC3  1.136871
105  Percentage of repeaters in primary education, ...  1.133958
56                  Gross capital formation (% of GDP)  1.117967
82        Gross enrolment ratio, pre-primary, male (%)  1.097822
133                      National Rainfall Index (NRI)  1.095314
For the risk2
Picked variable number: 23
                                                 Specs     Score
15          Sex ratio at birth (male to female births)  9.603556
42                   Population under age 5 (millions)  8.946279
12                                Urban population (%)  6.994506
150                                                PC5  5.227608
1                                            longitude  5.041633
51      Employment in services (% of total employment)  4.992443
43                      Exports and imports (% of GDP)  4.888268
85   Gross enrolment ratio, primary, gender parity ...  4.549239
2                                           population  4.512192
18                    Population ages 15?64 (millions)  4.295458
11                         Total population (millions)  4.247240
47    Youth not in school or employment (% ages 15-24)  4.063776
124  Agricultural water withdrawal as % of total re...  4.020394
55   Share of employment in nonagriculture, female ...  3.736031
33                  Unemployment, youth (% ages 15?24)  3.716163
140                         Seasonal variability (WRI)  3.520999
143         Total renewable water resources per capita  3.466147
46                                            HDI rank  3.446833
117  Prevalence of HIV, total (% of population ages...  3.433586
125  Agricultural water withdrawal as % of total wa...  3.375907
108  Percentage of students in pre-primary educatio...  3.279478
141  Total internal renewable water resources per c...  3.275523
45             Unemployment, total (% of labour force)  3.244764
For the risk3
Picked variable number: 23
                                                 Specs     Score
20   Infants lacking immunization, DTP (% of one-ye...  6.317368
139                            SDG 6.4.2. Water Stress  5.932886
61   Estimated gross national income per capita, fe...  5.745365
103  Percentage of male students enrolled in primar...  5.560096
58                         GDP per capita (2017 PPP $)  5.517526
86            Gross enrolment ratio, primary, male (%)  5.476403
59   Gross national income (GNI) per capita (consta...  5.476136
17   Foreign direct investment, net inflows (% of GDP)  5.408560
107  Percentage of students enrolled in primary edu...  5.297553
62   Estimated gross national income per capita, ma...  5.261685
65                    Inequality-adjusted income index  5.161004
47    Youth not in school or employment (% ages 15-24)  5.074771
66           Overall loss in HDI due to inequality (%)  5.014906
68                     Coefficient of human inequality  4.964745
102  Percentage of female students enrolled in prim...  4.867687
152                                                PC7  4.781305
7                Mean years of schooling, male (years)  4.769835
83      Gross enrolment ratio, primary, both sexes (%)  4.684686
25                 Inequality-adjusted education index  4.660731
69                      Inequality-adjusted HDI (IHDI)  4.598973
131  MDG 7.5. Freshwater withdrawal as % of total r...  4.588831
137           SDG 6.4.1. Services Water Use Efficiency  4.540159
27                         Inequality in education (%)  4.413954
For the risk4
Picked variable number: 23
                                                 Specs     Score
2                                           population  4.238141
17   Foreign direct investment, net inflows (% of GDP)  4.047825
72   Official entrance age to primary education (ye...  2.799918
139                            SDG 6.4.2. Water Stress  2.659589
124  Agricultural water withdrawal as % of total re...  2.407488
55   Share of employment in nonagriculture, female ...  2.382328
131  MDG 7.5. Freshwater withdrawal as % of total r...  2.317424
71   Official entrance age to lower secondary educa...  2.089519
106  Percentage of repeaters in primary education, ...  2.084780
147                                                PC2  2.069746
130                      Interannual variability (WRI)  2.037742
104  Percentage of repeaters in primary education, ...  2.017553
105  Percentage of repeaters in primary education, ...  1.903794
75   Theoretical duration of upper secondary educat...  1.899938
96        Labor force, female (% of total labor force)  1.803010
73   Theoretical duration of primary education (years)  1.741427
148                                                PC3  1.668032
153                                                PC8  1.632071
125  Agricultural water withdrawal as % of total wa...  1.535765
118            Primary completion rate, both sexes (%)  1.510997
120                  Primary completion rate, male (%)  1.508865
119                Primary completion rate, female (%)  1.466181
53      Total unemployment rate (female to male ratio)  1.462469
For the risk5
Picked variable number: 23
                                                 Specs     Score
118            Primary completion rate, both sexes (%)  3.563256
120                  Primary completion rate, male (%)  3.544382
96        Labor force, female (% of total labor force)  3.532329
119                Primary completion rate, female (%)  3.422088
93   Gross intake ratio to Grade 1 of primary educa...  3.358630
139                            SDG 6.4.2. Water Stress  3.299769
105  Percentage of repeaters in primary education, ...  3.184275
104  Percentage of repeaters in primary education, ...  3.037696
126                            Dam capacity per capita  2.995629
106  Percentage of repeaters in primary education, ...  2.827590
138                    SDG 6.4.1. Water Use Efficiency  2.825583
92   Gross intake ratio to Grade 1 of primary educa...  2.759364
147                                                PC2  2.647648
125  Agricultural water withdrawal as % of total wa...  2.551538
72   Official entrance age to primary education (ye...  2.523001
124  Agricultural water withdrawal as % of total re...  2.451325
131  MDG 7.5. Freshwater withdrawal as % of total r...  2.404436
94   Gross intake ratio to Grade 1 of primary educa...  2.254044
75   Theoretical duration of upper secondary educat...  2.217189
148                                                PC3  2.192510
13   Labour force participation rate (% ages 15 and...  2.083317
1                                            longitude  2.080374
56                  Gross capital formation (% of GDP)  2.053453
For the risk6
Picked variable number: 23
                                                 Specs     Score
126                            Dam capacity per capita  7.859680
141  Total internal renewable water resources per c...  3.812833
143         Total renewable water resources per capita  3.380294
97     Mortality rate, under-5 (per 1,000 live births)  2.240188
129  Industrial water withdrawal as % of total wate...  2.220216
17   Foreign direct investment, net inflows (% of GDP)  2.108698
116                      Population, male (% of total)  1.971691
115                    Population, female (% of total)  1.971691
14   Labour force participation rate (% ages 15 and...  1.802461
127                                   Dependency ratio  1.717670
36              Life expectancy at birth, male (years)  1.694206
93   Gross intake ratio to Grade 1 of primary educa...  1.631741
35            Life expectancy at birth, female (years)  1.621792
23                    Life expectancy at birth (years)  1.616291
30                               Life expectancy index  1.604256
139                            SDG 6.4.2. Water Stress  1.574999
20   Infants lacking immunization, DTP (% of one-ye...  1.567967
108  Percentage of students in pre-primary educatio...  1.496970
125  Agricultural water withdrawal as % of total wa...  1.470392
28                   Inequality in life expectancy (%)  1.447237
113                 Population ages 15-64 (% of total)  1.434985
140                         Seasonal variability (WRI)  1.397421
145  Urban population with access to safe drinking-...  1.352566