In [193]:
import pandas as pd
import numpy as np
import sys
sys.path.append("../..")
from data.dataset import DATASET as mainDf
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import f_classif

In [194]:
# write the necessary functions
# df = mainDf.loc[mainDf['risk1'].notnull()]
# t = np.where(np.isnan(x))

def getRowsForRisks(df, columns):
    partialDf = []
    for column in columns:
        data = df.loc[df[column].notnull()]
        partialDf.append(data)

    return partialDf

'''
def cleanDataframe(data):
    data = np.nan_to_num(data)
    data = data.drop(columns=['country','city'])
    return data
'''

def getImportantFeatures(df, label, risks):
    y = df.loc[:, label]
    x = df.loc[:, df.columns != label]

    #risks.remove(label)
    #print(risks)
    
    x = x.drop(columns=['country','city','country_code'])
    cols = [col for col in x.columns if col.lower()[:4] != 'risk']
    x = x[cols]

    l = x.columns[x.isna().any()].tolist()
    print(l)

    # Applying select K-best
    bestFeatures = SelectKBest(score_func=f_classif, k=10)
    fit = bestFeatures.fit(x,y)
    dfscores = pd.DataFrame(fit.scores_)
    dfcolumns = pd.DataFrame(x.columns)

    #Concat two dataframes for better visualization
    featureScores = pd.concat([dfcolumns,dfscores],axis=1)
    featureScores.columns = ['Specs','Score']
    print(featureScores.nlargest(10,'Score'))  #print 10 best features

In [187]:
display(mainDf)
print(mainDf.info)

,city,latitude,longitude,population,country_code,c40,risk0,risk1,risk2,risk3,...,SDG 6.4.1. Services Water Use Efficiency,SDG 6.4.1. Water Use Efficiency,SDG 6.4.2. Water Stress,Seasonal variability (WRI),Total internal renewable water resources per capita,Total population with access to safe drinking-water (JMP),Total renewable water resources per capita,Total water withdrawal per capita,Urban population with access to safe drinking-water (JMP),country
0,Aalborg,57.0337,9.9166,122219.0,DNK,False,NaN,NaN,NaN,NaN,...,558.335628,368.612902,20.040562,1.300000,1046.705025,100.0,1046.705025,129.285516,100.0,Denmark
1,Aarhus,56.1572,10.2107,237551.0,DNK,False,NaN,NaN,NaN,NaN,...,558.335628,368.612902,20.040562,1.300000,1046.705025,100.0,1046.705025,129.285516,100.0,Denmark
2,Copenhagen,55.6786,12.5635,1085000.0,DNK,False,NaN,2.0,NaN,2.0,...,558.335628,368.612902,20.040562,1.300000,1046.705025,100.0,1046.705025,129.285516,100.0,Denmark
3,Esbjerg,55.4670,8.4500,72205.0,DNK,False,NaN,NaN,NaN,NaN,...,558.335628,368.612902,20.040562,1.300000,1046.705025,100.0,1046.705025,129.285516,100.0,Denmark
4,Frederikshavn,57.4337,10.5333,24103.0,DNK,False,NaN,2.0,NaN,NaN,...,558.335628,368.612902,20.040562,1.300000,1046.705025,100.0,1046.705025,129.285516,100.0,Denmark
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1206,Teaoraereke,1.3333,173.0000,5105.0,KIR,False,NaN,NaN,NaN,NaN,...,110.288104,80.302831,68.505925,2.532741,-1779.609434,66.9,0.000000,414.127038,87.3,Kiribati
1207,Trindade,0.3000,6.6667,6636.0,STP,False,NaN,NaN,NaN,NaN,...,17.162254,7.489641,1.876147,2.502891,10526.874919,97.1,10526.874919,197.499626,98.9,Sao Tome and Principe
1208,Victoria,-4.6236,55.4544,26450.0,SYC,False,NaN,NaN,NaN,NaN,...,120.471023,89.323035,69.243227,1.601611,-2157.596566,95.7,0.000000,142.089651,95.7,Seychelles
1209,Warsaw,52.2167,21.0333,1790658.0,POL,True,0.0,0.0,2.0,0.0,...,153.691550,43.570222,34.890966,0.600000,1412.266377,98.3,1594.069324,265.616741,99.3,Poland
1210,Abasan Al-Kabira,31.3231,34.3440,32000.0,PSE,False,NaN,2.0,2.0,2.0,...,51.887163,34.748970,41.078306,3.100000,171.047224,58.4,176.313456,79.035614,50.7,Palestine

<bound method DataFrame.info of                   city  latitude  longitude  population country_code    c40  \
0              Aalborg   57.0337     9.9166    122219.0          DNK  False
1               Aarhus   56.1572    10.2107    237551.0          DNK  False
2           Copenhagen   55.6786    12.5635   1085000.0          DNK  False
3              Esbjerg   55.4670     8.4500     72205.0          DNK  False
4        Frederikshavn   57.4337    10.5333     24103.0          DNK  False
...                ...       ...        ...         ...          ...    ...
1206       Teaoraereke    1.3333   173.0000      5105.0          KIR  False
1207          Trindade    0.3000     6.6667      6636.0          STP  False
1208          Victoria   -4.6236    55.4544     26450.0          SYC  False
1209            Warsaw   52.2167    21.0333   1790658.0          POL   True
1210  Abasan Al-Kabira   31.3231    34.3440     32000.0          PSE  False

      risk0  risk1  risk2  risk3  ...  \
0       NaN    NaN    NaN    NaN  ...
1       NaN    NaN    NaN    NaN  ...
2       NaN    2.0    NaN    2.0  ...
3       NaN    NaN    NaN    NaN  ...
4       NaN    2.0    NaN    NaN  ...
...     ...    ...    ...    ...  ...
1206    NaN    NaN    NaN    NaN  ...
1207    NaN    NaN    NaN    NaN  ...
1208    NaN    NaN    NaN    NaN  ...
1209    0.0    0.0    2.0    0.0  ...
1210    NaN    2.0    2.0    2.0  ...

      SDG 6.4.1. Services Water Use Efficiency  \
0                                   558.335628
1                                   558.335628
2                                   558.335628
3                                   558.335628
4                                   558.335628
...                                        ...
1206                                110.288104
1207                                 17.162254
1208                                120.471023
1209                                153.691550
1210                                 51.887163

      SDG 6.4.1. Water Use Efficiency  SDG 6.4.2. Water Stress  \
0                          368.612902                20.040562
1                          368.612902                20.040562
2                          368.612902                20.040562
3                          368.612902                20.040562
4                          368.612902                20.040562
...                               ...                      ...
1206                        80.302831                68.505925
1207                         7.489641                 1.876147
1208                        89.323035                69.243227
1209                        43.570222                34.890966
1210                        34.748970                41.078306

      Seasonal variability (WRI)  \
0                       1.300000
1                       1.300000
2                       1.300000
3                       1.300000
4                       1.300000
...                          ...
1206                    2.532741
1207                    2.502891
1208                    1.601611
1209                    0.600000
1210                    3.100000

      Total internal renewable water resources per capita  \
0                                           1046.705025
1                                           1046.705025
2                                           1046.705025
3                                           1046.705025
4                                           1046.705025
...                                                 ...
1206                                       -1779.609434
1207                                       10526.874919
1208                                       -2157.596566
1209                                        1412.266377
1210                                         171.047224

      Total population with access to safe drinking-water (JMP)  \
0                                                 100.0
1                                                 100.0
2                                                 100.0
3                                                 100.0
4                                                 100.0
...                                                 ...
1206                                               66.9
1207                                               97.1
1208                                               95.7
1209                                               98.3
1210                                               58.4

      Total renewable water resources per capita  \
0                                    1046.705025
1                                    1046.705025
2                                    1046.705025
3                                    1046.705025
4                                    1046.705025
...                                          ...
1206                                    0.000000
1207                                10526.874919
1208                                    0.000000
1209                                 1594.069324
1210                                  176.313456

      Total water withdrawal per capita  \
0                            129.285516
1                            129.285516
2                            129.285516
3                            129.285516
4                            129.285516
...                                 ...
1206                         414.127038
1207                         197.499626
1208                         142.089651
1209                         265.616741
1210                          79.035614

      Urban population with access to safe drinking-water (JMP)  \
0                                                 100.0
1                                                 100.0
2                                                 100.0
3                                                 100.0
4                                                 100.0
...                                                 ...
1206                                               87.3
1207                                               98.9
1208                                               95.7
1209                                               99.3
1210                                               50.7

                    country
0                   Denmark
1                   Denmark
2                   Denmark
3                   Denmark
4                   Denmark
...                     ...
1206               Kiribati
1207  Sao Tome and Principe
1208             Seychelles
1209                 Poland
1210              Palestine

[1211 rows x 157 columns]>

In [189]:
a = mainDf.columns.values.tolist()
#print(a)
risks = a[6:13]
risks_index = [i for i in range(6,14)]
print(risks)
print(risks_index)

['risk0', 'risk1', 'risk2', 'risk3', 'risk4', 'risk5', 'risk6']
[6, 7, 8, 9, 10, 11, 12, 13]

In [190]:
mylist = getRowsForRisks(mainDf, risks)
print(len(mylist))
for i in range(len(mylist)):
    print("Only",mylist[i].shape[0],"rows are available for risk",i)

7
Only 87 rows are available for risk 0
Only 148 rows are available for risk 1
Only 262 rows are available for risk 2
Only 184 rows are available for risk 3
Only 98 rows are available for risk 4
Only 65 rows are available for risk 5
Only 59 rows are available for risk 6

In [191]:
#display(mylist[0])

In [195]:
for i in range(len(risks)):
    getImportantFeatures(mylist[i], risks[i], risks)

[]
                                                Specs      Score
3                                                 c40  87.682714
58  Gross domestic product (GDP), total (2017 PPP ...   4.032056
42            Population ages 65 and older (millions)   3.234697
53  Working poor at PPP$3.20 a day (% of total emp...   2.961307
28                        Inequality in education (%)   2.900850
5   Population with at least some secondary educat...   2.875645
4   Population with at least some secondary educat...   2.794997
18  Foreign direct investment, net inflows (% of GDP)   2.734514
6   Population with at least some secondary educat...   2.687594
9      Share of seats in parliament (% held by women)   2.518464
[]
                                                 Specs      Score
3                                                  c40  56.020761
140                            SDG 6.4.2. Water Stress   2.384240
132  MDG 7.5. Freshwater withdrawal as % of total r...   2.284233
16          Sex ratio at birth (male to female births)   2.013427
125  Agricultural water withdrawal as % of total re...   1.905545
114                 Population ages 15-64 (% of total)   1.880945
74   Theoretical duration of primary education (years)   1.684554
84      Gross enrolment ratio, primary, both sexes (%)   1.541050
87            Gross enrolment ratio, primary, male (%)   1.532738
128                                   Dependency ratio   1.425988
[]
                                                Specs     Score
16         Sex ratio at birth (male to female births)  9.603556
43                  Population under age 5 (millions)  8.946279
13                               Urban population (%)  6.994506
1                                           longitude  5.041633
52     Employment in services (% of total employment)  4.992443
44                     Exports and imports (% of GDP)  4.888268
86  Gross enrolment ratio, primary, gender parity ...  4.549239
3                                                 c40  4.514989
2                                          population  4.512192
19                   Population ages 15?64 (millions)  4.295458
[]
                                                 Specs      Score
3                                                  c40  99.328302
21   Infants lacking immunization, DTP (% of one-ye...   6.317368
140                            SDG 6.4.2. Water Stress   5.932886
62   Estimated gross national income per capita, fe...   5.745365
104  Percentage of male students enrolled in primar...   5.560096
59                         GDP per capita (2017 PPP $)   5.517526
87            Gross enrolment ratio, primary, male (%)   5.476403
60   Gross national income (GNI) per capita (consta...   5.476136
18   Foreign direct investment, net inflows (% of GDP)   5.408560
108  Percentage of students enrolled in primary edu...   5.297553
[]
                                                 Specs      Score
3                                                  c40  48.804916
2                                           population   4.238141
18   Foreign direct investment, net inflows (% of GDP)   4.047825
73   Official entrance age to primary education (ye...   2.799918
140                            SDG 6.4.2. Water Stress   2.659589
125  Agricultural water withdrawal as % of total re...   2.407488
56   Share of employment in nonagriculture, female ...   2.382328
132  MDG 7.5. Freshwater withdrawal as % of total r...   2.317424
72   Official entrance age to lower secondary educa...   2.089519
107  Percentage of repeaters in primary education, ...   2.084780
[]
                                                 Specs      Score
3                                                  c40  40.048649
119            Primary completion rate, both sexes (%)   3.563256
121                  Primary completion rate, male (%)   3.544382
97        Labor force, female (% of total labor force)   3.532329
120                Primary completion rate, female (%)   3.422088
94   Gross intake ratio to Grade 1 of primary educa...   3.358630
140                            SDG 6.4.2. Water Stress   3.299769
106  Percentage of repeaters in primary education, ...   3.184275
105  Percentage of repeaters in primary education, ...   3.037696
127                            Dam capacity per capita   2.995629
[]
                                                 Specs       Score
3                                                  c40  100.242938
127                            Dam capacity per capita    7.859680
142  Total internal renewable water resources per c...    3.812833
144         Total renewable water resources per capita    3.380294
98     Mortality rate, under-5 (per 1,000 live births)    2.240188
130  Industrial water withdrawal as % of total wate...    2.220216
18   Foreign direct investment, net inflows (% of GDP)    2.108698
117                      Population, male (% of total)    1.971691
116                    Population, female (% of total)    1.971691
15   Labour force participation rate (% ages 15 and...    1.802461