In [2]:
import pandas as pd 
import numpy as np
import json
from helpers import *
import sys
sys.path.append("..")
from data.unlabeled import hdro_inicator_values as inicator_values, hdro_country_name as country_name, hdro_indicator_name as indicator_name

In [3]:
print(inicator_values)

{'2019': 3.462}, '45106': {'2019': 95.4}, '48706': {'2019': 55.579}, '48806': {'2019': 73.324}, '49006': {'2019': 1.05}, '52606': {'2019': 0.183}, '53506': {'2019': 1.338}, '63106': {'2019': 2.236}, '64306': {'2019': 4}, '64406': {'2019': 1}, '65606': {'2019': 17.183}, '68606': {'2019': 0.288}, '69206': {'2019': 77.91}, '69706': {'2019': 16.836}, '71406': {'2019': 0.715}, '71506': {'2019': 0.821}, '71606': {'2019': 0.614}, '73506': {'2019': 12.852}, '101606': {'2019': 6.526}, '101706': {'2019': 23.358}, '101806': {'2019': 7.9}, '103006': {'2019': 8.926}, '103206': {'2019': 0.891}, '103606': {'2019': 0.801}, '103706': {'2019': 0.765}, '110906': {'2019': 27.051}, '111306': {'2019': 2.937}, '120606': {'2019': 81.478}, '121106': {'2019': 74.119}, '121206': {'2019': 31.669}, '122006': {'2019': 23.129}, '123306': {'2019': 17.107}, '123406': {'2019': 15.142}, '132706': {'2019': 0.517}, '132806': {'2019': 0.238}, '133206': {'2019': 41.03}, '135006': {'2019': 12.595}, '137506': {'2019': 0.817}, '138806': {'2019': 0.712}, '140606': {'2019': 8.731}, '146206': {'2019': 55}, '147906': {'2019': 18.426}, '148206': {'2019': 64.021}, '148306': {'2019': 58.431}, '150606': {'2019': 8.119}, '150706': {'2019': 72.967}, '153706': {'2019': 0.1}, '169706': {'2019': 1.496}, '169806': {'2019': 1.331}, '175106': {'2019': 46.74}, '178306': {'2019': 16.161}, '179406': {'2019': 26.082}, '184006': {'2019': 23.65}, '193006': {'2019': 23.23}, '194506': {'2019': 74.639}, '194906': {'2019': 21561.062}, '195706': {'2019': 20063.642}, '137906': {'2019': 1.016}, '123506': {'2019': 15444.871}, '123606': {'2019': 25008.271}, '136906': {'2019': 0.814}, '137006': {'2019': 0.801}}, 'USA': {'23806': {'2019': 96.029}, '23906': {'2019': 96.076}, '24006': {'2019': 95.979}, '24106': {'2019': 13.461}, '24206': {'2019': 13.363}, '31706': {'2019': 23.729}, '36806': {'2019': 19.86}, '43006': {'2019': 3.837}, '44206': {'2019': 329.065}, '45106': {'2019': 82.5}, '48706': {'2019': 56.126}, '48806': {'2019': 68.186}, '49006': {'2019': 1.05}, '52606': {'2019': 0.032}, '53506': {'2019': 1.454}, '63106': {'2019': 214.686}, '64306': {'2019': 10}, '64406': {'2019': 3}, '68606': {'2019': 0.204}, '69206': {'2019': 78.86}, '69706': {'2019': 16.31}, '71406': {'2019': 0.875}, '71506': {'2019': 0.848}, '71606': {'2019': 0.711}, '73506': {'2019': 12.743}, '101606': {'2019': 2.753}, '101706': {'2019': 27.144}, '101806': {'2019': 6.3}, '103006': {'2019': 13.413}, '103206': {'2019': 0.906}, '103606': {'2019': 0.976}, '103706': {'2019': 0.9}, '110906': {'2019': 8.543}, '111306': {'2019': -1.445}, '120606': {'2019': 81.405}, '121106': {'2019': 76.341}, '121206': {'2019': 28.432}, '122006': {'2019': 24.846}, '123306': {'2019': 16.921}, '123406': {'2019': 15.716}, '132706': {'2019': 53.34}, '132806': {'2019': 19.604}, '133206': {'2019': 26.389}, '135006': {'2019': 12.066}, '137506': {'2019': 0.926}, '138806': {'2019': 0.808}, '140606': {'2019': 3.682}, '146206': {'2019': 17}, '147906': {'2019': 13.814}, '148206': {'2019': 62.049}, '148306': {'2019': 59.765}, '150606': {'2019': 1.34}, '150706': {'2019': 78.853}, '169706': {'2019': 0.967}, '169806': {'2019': 0.756}, '175106': {'2019': 46.349}, '179406': {'2019': 96.476}, '194506': {'2019': 20574.972}, '194906': {'2019': 62682.8}, '195706': {'2019': 63825.657}, '137906': {'2019': 0.994}, '123506': {'2019': 50590.343}, '123606': {'2019': 77338.342}, '136906': {'2019': 0.922}, '137006': {'2019': 0.928}}, 'UZB': {'23806': {'2019': 99.905}, '23906': {'2019': 99.86}, '24006': {'2019': 99.957}, '24106': {'2019': 11.619}, '24206': {'2019': 12.002}, '31706': {'2019': 16.4}, '36806': {'2019': 23.79}, '43006': {'2019': 41.977}, '44206': {'2019': 32.982}, '45106': {'2019': 50.4}, '48706': {'2019': 52.378}, '48806': {'2019': 78.113}, '49006': {'2019': 1.06}, '52606': {'2019': 14.754}, '53506': {'2019': 3.947}, '63106': {'2019': 21.968}, '64306': {'2019': 2}, '64406': {'2019': 4}, '65606': {'2019': 39.996}, '68606': {'2019': 0.288}, '69206': {'2019': 71.73}, '69706': {'2019': 12.059}, '71406': {'2019': 0.723}, '71506': {'2019': 0.685}, '101606': {'2019': 0.7}, '101806': {'2019': 13.9}, '103006': {'2019': 11.807}, '103206': {'2019': 0.796}, '103606': {'2019': 0.645}, '103706': {'2019': 0.729}, '110906': {'2019': 11.592}, '111306': {'2019': -6.266}, '120606': {'2019': 73.829}, '121106': {'2019': 69.592}, '121206': {'2019': 43.235}, '122006': {'2019': 6.899}, '123306': {'2019': 11.868}, '123406': {'2019': 12.241}, '132706': {'2019': 1.516}, '132806': {'2019': 3.435}, '133206': {'2019': 73.017}, '137506': {'2019': 0.72}, '140606': {'2019': 5.917}, '146206': {'2019': 106}, '147906': {'2019': 19.914}, '148206': {'2019': 65.06}, '148306': {'2019': 61.21}, '150606': {'2019': 23.924}, '150706': {'2019': 46.597}, '153706': {'2019': 37.196}, '169706': {'2019': 0.936}, '169806': {'2019': 1.08}, '175106': {'2019': 40.58}, '178306': {'2019': 39.804}, '194506': {'2019': 235.021}, '194906': {'2019': 6998.705}, '195706': {'2019': 7141.954}, '137906': {'2019': 0.939}, '123506': {'2019': 5064}, '123606': {'2019': 9230.201}, '136906': {'2019': 0.695}, '137006': {'2019': 0.74}}, 'VCT': {'24106': {'2019': 8.858}, '24206': {'2019': 8.714}, '31706': {'2019': 13.043}, '36806': {'2019': 49.02}, '43006': {'2019': 19.865}, '44206': {'2019': 0.111}, '45106': {'2019': 52.6}, '48706': {'2019': 54.361}, '48806': {'2019': 77.01}, '49006': {'2019': 1.03}, '52606': {'2019': 5.667}, '63106': {'2019': 0.075}, '64306': {'2019': 1}, '64406': {'2019': 1}, '69206': {'2019': 72.53}, '69706': {'2019': 14.094}, '71506': {'2019': 0.717}, '101806': {'2019': 11.3}, '103006': {'2019': 8.785}, '103206': {'2019': 0.808}, '103606': {'2019': 0.728}, '103706': {'2019': 0.684}, '110906': {'2019': 41.681}, '120606': {'2019': 75.131}, '121106': {'2019': 70.289}, '121206': {'2019': 32.604}, '122006': {'2019': 14.313}, '123306': {'2019': 14.231}, '123406': {'2019': 13.957}, '132706': {'2019': 0.011}, '132806': {'2019': 0.008}, '137506': {'2019': 0.738}, '140606': {'2019': 18.881}, '146206': {'2019': 97}, '147906': {'2019': 28.591}, '148206': {'2019': 65.868}, '148306': {'2019': 53.432}, '150606': {'2019': 10.727}, '150706': {'2019': 69.339}, '169706': {'2019': 0.818}, '169806': {'2019': 1.089}, '175106': {'2019': 44.516}, '194506': {'2019': 1.379}, '194906': {'2019': 12466.235}, '195706': {'2019': 12377.654}, '137906': {'2019': 0.965}, '123506': {'2019': 8879.661}, '123606': {'2019': 15775.815}, '136906': {'2019': 0.724}, '137006': {'2019': 0.75}}, 'VEN': {'23806': {'2019': 69.208}, '23906': {'2019': 71.712}, '24006': {'2019': 66.614}, '24106': {'2019': 10.593}, '24206': {'2019': 10.011}, '31706': {'2019': 22.156}, '36806': {'2019': 85.337}, '43006': {'2019': 35.61}, '44206': {'2019': 28.516}, '45106': {'2019': 88.2}, '48706': {'2019': 45.44}, '48806': {'2019': 74.853}, '49006': {'2019': 1.05}, '63106': {'2019': 18.531}, '64306': {'2019': 7}, '64406': {'2019': 15}, '68606': {'2019': 0.479}, '69206': {'2019': 72.06}, '69706': {'2019': 12.816}, '71406': {'2019': 0.638}, '71506': {'2019': 0.664}, '71606': {'2019': 0.481}, '73506': {'2019': 17.3}, '101606': {'2019': 8.8}, '101706': {'2019': 25.2}, '101806': {'2019': 17.1}, '103006': {'2019': 10.307}, '103206': {'2019': 0.801}, '103606': {'2019': 0.643}, '103706': {'2019': 0.7}, '110906': {'2019': 18.781}, '120606': {'2019': 76.004}, '121106': {'2019': 68.327}, '121206': {'2019': 42.169}, '122006': {'2019': 11.713}, '123306': {'2019': 13.812}, '123406': {'2019': 11.82}, '132706': {'2019': 2.171}, '132806': {'2019': 2.419}, '135006': {'2019': 17.033}, '137506': {'2019': 0.711}, '138806': {'2019': 0.588}, '140606': {'2019': 8.801}, '146206': {'2019': 113}, '147906': {'2019': 22.553}, '148206': {'2019': 59.73}, '148306': {'2019': 54.473}, '150606': {'2019': 8.306}, '150706': {'2019': 75.069}, '153706': {'2019': 18.764}, '169706': {'2019': 1.101}, '169806': {'2019': 1.431}, '175106': {'2019': 41.935}, '195706': {'2019': 7044.639}, '137906': {'2019': 1.009}, '123506': {'2019': 5172.528}, '123606': {'2019': 8973.449}, '136906': {'2019': 0.712}, '137006': {'2019': 0.706}}, 'VNM': {'23806': {'2019': 69.779}, '23906': {'2019': 66.439}, '24006': {'2019': 78.169}, '24106': {'2019': 8.018}, '24206': {'2019': 8.632}, '31706': {'2019': 26.721}, '36806': {'2019': 30.929}, '43006': {'2019': 54.074}, '44206': {'2019': 96.462}, '45106': {'2019': 36.6}, '48706': {'2019': 72.708}, '48806': {'2019': 82.363}, '49006': {'2019': 1.12}, '52606': {'2019': 6.491}, '63106': {'2019': 66.783}, '64306': {'2019': 5}, '64406': {'2019': 4}, '65606': {'2019': 24.178}, '68606': {'2019': 0.296}, '69206': {'2019': 75.4}, '69706': {'2019': 12.692}, '71406': {'2019': 0.519}, '71506': {'2019': 0.742}, '71606': {'2019': 0.526}, '73506': {'2019': 16.477}, '101606': {'2019': 17.6}, '101706': {'2019': 19.133}, '101806': {'2019': 12.9}, '103006': {'2019': 8.32}, '103206': {'2019': 0.852}, '103606': {'2019': 0.651}, '103706': {'2019': 0.63}, '110906': {'2019': 7.289}, '120606': {'2019': 79.523}, '121106': {'2019': 71.301}, '121206': {'2019': 33.53}, '122006': {'2019': 10.911}, '123306': {'2019': 12.877}, '123406': {'2019': 12.51}, '132706': {'2019': 7.286}, '132806': {'2019': 7.891}, '133206': {'2019': 210.4}, '135006': {'2019': 16.544}, '137506': {'2019': 0.704}, '138806': {'2019': 0.588}, '140606': {'2019': 2.013}, '146206': {'2019': 117}, '147906': {'2019': 9.652}, '148206': {'2019': 77.447}, '148306': {'2019': 75.888}, '150606': {'2019': 37.358}, '150706': {'2019': 35}, '153706': {'2019': 6.16}, '169706': {'2019': 0.901}, '169806': {'2019': 1.065}, '175106': {'2019': 46.864}, '178306': {'2019': 26.844}, '179406': {'2019': 39.392}, '184006': {'2019': 58.35}, '193006': {'2019': 53.75}, '194506': {'2019': 775.669}, '194906': {'2019': 8041.179}, '195706': {'2019': 7432.707}, '137906': {'2019': 0.997}, '123506': {'2019': 6644.295}, '123606': {'2019': 8223.729}, '136906': {'2019': 0.703}, '137006': {'2019': 0.705}}, 'VUT': {'23806': {'2019': 0}, '31706': {'2019': 0.1}, '36806': {'2019': 49.437}, '43006': {'2019': 70.417}, '44206': {'2019': 0.3}, '45106': {'2019': 25.4}, '48706': {'2019': 60.956}, '48806': {'2019': 78.781}, '49006': {'2019': 1.07}, '52606': {'2019': 3.84}, '63106': {'2019': 0.173}, '64306': {'2019': 20}, '64406': {'2019': 5}, '69206': {'2019': 70.47}, '69706': {'2019': 11.734}, '71506': {'2019': 0.665}, '71606': {'2019': 0.417}, '101706': {'2019': 19.7}, '101806': {'2019': 14.4}, '103006': {'2019': 7.065}, '103206': {'2019': 0.776}, '103606': {'2019': 0.519}, '103706': {'2019': 0.561}, '110906': {'2019': 8.757}, '120606': {'2019': 72.154}, '121106': {'2019': 68.985}, '121206': {'2019': 67.121}, '122006': {'2019': 6.271}, '123306': {'2019': 11.489}, '123406': {'2019': 11.978}, '132706': {'2019': 0.011}, '132806': {'2019': 0.041}, '137506': {'2019': 0.609}, '140606': {'2019': 4.385}, '146206': {'2019': 140}, '147906': {'2019': 26.004}, '148206': {'2019': 69.875}, '148306': {'2019': 66.811}, '150606': {'2019': 55.842}, '150706': {'2019': 37.843}, '169706': {'2019': 1.236}, '169806': {'2019': 1.072}, '175106': {'2019': 44.181}, '194506': {'2019': 0.943}, '194906': {'2019': 3143.628}, '195706': {'2019': 3104.799}, '123506': {'2019': 2406.473}, '123606': {'2019': 3783.861}}, 'WSM': {'23806': {'2019': 74.942}, '23906': {'2019': 79.127}, '24006': {'2019': 71.583}, '31706': {'2019': 10}, '36806': {'2019': 23.886}, '43006': {'2019': 29.983}, '44206': {'2019': 0.197}, '45106': {'2019': 18.1}, '48706': {'2019': 31.104}, '48806': {'2019': 55.456}, '49006': {'2019': 1.08}, '52606': {'2019': 17.254}, '63106': {'2019': 0.113}, '64306': {'2019': 13}, '64406': {'2019': 14}, '68606': {'2019': 0.36}, '69206': {'2019': 73.32}, '69706': {'2019': 12.73}, '71406': {'2019': 0.678}, '71506': {'2019': 0.738}, '101606': {'2019': 4.9}, '101806': {'2019': 10}, '103006': {'2019': 10.779}, '103206': {'2019': 0.82}, '103606': {'2019': 0.626}, '103706': {'2019': 0.713}, '110906': {'2019': 18.125}, '120606': {'2019': 75.464}, '121106': {'2019': 71.324}, '121206': {'2019': 66.194}, '122006': {'2019': 8.623}, '123306': {'2019': 13.177}, '123406': {'2019': 12.282}, '132706': {'2019': 0.01}, '132806': {'2019': 0.027}, '133206': {'2019': 91.123}, '137506': {'2019': 0.715}, '140606': {'2019': 8.359}, '146206': {'2019': 111}, '147906': {'2019': 37.395}, '148206': {'2019': 43.685}, '148306': {'2019': 40.033}, '150606': {'2019': 30.394}, '150706': {'2019': 46.542}, '169706': {'2019': 1.297}, '169806': {'2019': 1.492}, '175106': {'2019': 45.424}, '194506': {'2019': 1.284}, '194906': {'2019': 6517.034}, '195706': {'2019': 6308.652}, '123506': {'2019': 4054.375}, '123606': {'2019': 8410.109}}, 'YEM': {'23806': {'2019': 28.02}, '23906': {'2019': 19.92}, '24006': {'2019': 36.918}, '24106': {'2019': 2.88}, '24206': {'2019': 5.146}, '31706': {'2019': 0.971}, '36806': {'2019': 60.352}, '43006': {'2019': 45.627}, '44206': {'2019': 29.162}, '45106': {'2019': 37.3}, '48706': {'2019': 5.834}, '48806': {'2019': 70.183}, '49006': {'2019': 1.05}, '63106': {'2019': 16.877}, '64306': {'2019': 33}, '64406': {'2019': 19}, '68606': {'2019': 0.795}, '69206': {'2019': 66.13}, '69706': {'2019': 8.769}, '71406': {'2019': 0.189}, '71506': {'2019': 0.534}, '71606': {'2019': 0.327}, '73506': {'2019': 31.702}, '101606': {'2019': 46.1}, '101706': {'2019': 21.8}, '101806': {'2019': 24.7}, '103006': {'2019': 3.2}, '103206': {'2019': 0.71}, '103606': {'2019': 0.418}, '103706': {'2019': 0.35}, '110906': {'2019': 24.041}, '120606': {'2019': 67.826}, '121106': {'2019': 64.443}, '121206': {'2019': 67.773}, '122006': {'2019': 5.015}, '123306': {'2019': 7.367}, '123406': {'2019': 10.246}, '132706': {'2019': 0.846}, '132806': {'2019': 4.099}, '135006': {'2019': 30.867}, '137506': {'2019': 0.47}, '138806': {'2019': 0.321}, '140606': {'2019': 12.91}, '146206': {'2019': 179}, '147906': {'2019': 44.792}, '148206': {'2019': 38}, '148306': {'2019': 33.094}, '150606': {'2019': 28.976}, '150706': {'2019': 60.976}, '153706': {'2019': 85.079}, '169706': {'2019': 2.088}, '169806': {'2019': 1.467}, '175106': {'2019': 4.985}, '195706': {'2019': 1593.704}, '137906': {'2019': 0.488}, '123506': {'2019': 186.041}, '123606': {'2019': 2980.035}, '136906': {'2019': 0.27}, '137006': {'2019': 0.553}}, 'ZAF': {'23806': {'2019': 75.478}, '23906': {'2019': 74.977}, '24006': {'2019': 78.207}, '24106': {'2019': 10.031}, '24206': {'2019': 10.291}, '31706': {'2019': 45.333}, '36806': {'2019': 67.908}, '43006': {'2019': 10.298}, '44206': {'2019': 58.558}, '45106': {'2019': 66.9}, '48706': {'2019': 49.61}, '48806': {'2019': 62.749}, '49006': {'2019': 1.03}, '52606': {'2019': 0.253}, '53506': {'2019': 1.316}, '63106': {'2019': 38.424}, '64306': {'2019': 28}, '64406': {'2019': 16}, '65606': {'2019': 17.9}, '68606': {'2019': 0.406}, '69206': {'2019': 64.13}, '69706': {'2019': 13.791}, '71406': {'2019': 0.599}, '71506': {'2019': 0.549}, '71606': {'2019': 0.312}, '73506': {'2019': 33.992}, '101606': {'2019': 17.294}, '101706': {'2019': 56.996}, '101806': {'2019': 19.2}, '103006': {'2019': 10.241}, '103206': {'2019': 0.679}, '103606': {'2019': 0.725}, '103706': {'2019': 0.724}, '110906': {'2019': 55.973}, '111306': {'2019': -2.99}, '120606': {'2019': 67.679}, '121106': {'2019': 60.726}, '121206': {'2019': 44.148}, '122006': {'2019': 8.253}, '123306': {'2019': 14.176}, '123406': {'2019': 13.411}, '132706': {'2019': 3.171}, '132806': {'2019': 5.786}, '133206': {'2019': 59.205}, '135006': {'2019': 31.163}, '137506': {'2019': 0.709}, '138806': {'2019': 0.468}, '140606': {'2019': 28.181}, '146206': {'2019': 114}, '147906': {'2019': 32.634}, '148206': {'2019': 56.017}, '148306': {'2019': 40.231}, '150606': {'2019': 5.088}, '150706': {'2019': 72.006}, '153706': {'2019': 17.096}, '169706': {'2019': 1.149}, '169806': {'2019': 1.161}, '175106': {'2019': 44.645}, '178306': {'2019': 17.589}, '179406': {'2019': 52.169}, '184006': {'2019': 35.15}, '193006': {'2019': 36.84}, '194506': {'2019': 730.913}, '194906': {'2019': 12481.813}, '195706': {'2019': 12129.23}, '137906': {'2019': 0.986}, '123506': {'2019': 9247.751}, '123606': {'2019': 15094.546}, '136906': {'2019': 0.702}, '137006': {'2019': 0.712}}, 'ZMB': {'23806': {'2019': 44.44}, '23906': {'2019': 38.488}, '24006': {'2019': 54.068}, '24106': {'2019': 6.283}, '24206': {'2019': 8.176}, '31706': {'2019': 17.964}, '36806': {'2019': 120.112}, '43006': {'2019': 78.134}, '44206': {'2019': 17.861}, '45106': {'2019': 44.1}, '48706': {'2019': 70.37}, '48806': {'2019': 79.076}, '49006': {'2019': 1.03}, '52606': {'2019': 0.551}, '53506': {'2019': 2.087}, '63106': {'2019': 9.542}, '64306': {'2019': 7}, '64406': {'2019': 6}, '65606': {'2019': 37.713}, '68606': {'2019': 0.539}, '69206': {'2019': 63.89}, '69706': {'2019': 11.478}, '71406': {'2019': 0.443}, '71506': {'2019': 0.496}, '71606': {'2019': 0.292}, '73506': {'2019': 31.336}, '101606': {'2019': 20.436}, '101706': {'2019': 44.84}, '101806': {'2019': 26.5}, '103006': {'2019': 7.152}, '103206': {'2019': 0.675}, '103606': {'2019': 0.529}, '103706': {'2019': 0.557}, '110906': {'2019': 21.408}, '111306': {'2019': 1.663}, '120606': {'2019': 66.891}, '121106': {'2019': 60.848}, '121206': {'2019': 83.229}, '122006': {'2019': 3.96}, '123306': {'2019': 10.687}, '123406': {'2019': 11.603}, '132706': {'2019': 0.378}, '132806': {'2019': 2.902}, '133206': {'2019': 70.035}, '135006': {'2019': 30.592}, '137506': {'2019': 0.584}, '138806': {'2019': 0.401}, '140606': {'2019': 11.425}, '146206': {'2019': 146}, '147906': {'2019': 19.695}, '148206': {'2019': 74.615}, '148306': {'2019': 66.091}, '150606': {'2019': 48.839}, '150706': {'2019': 40.327}, '153706': {'2019': 63.993}, '169706': {'2019': 1.147}, '169806': {'2019': 1.079}, '175106': {'2019': 42.838}, '178306': {'2019': 39.232}, '194506': {'2019': 62.147}, '194906': {'2019': 3479.492}, '195706': {'2019': 3325.519}, '137906': {'2019': 0.958}, '123506': {'2019': 3379.549}, '123606': {'2019': 3270.422}, '136906': {'2019': 0.569}, '137006': {'2019': 0.593}}, 'ZWE': {'23806': {'2019': 64.935}, '23906': {'2019': 59.792}, '24006': {'2019': 70.783}, '24106': {'2019': 8.066}, '24206': {'2019': 8.923}, '31706': {'2019': 34.571}, '36806': {'2019': 86.135}, '38406': {'2019': 0.11}, '38506': {'2019': 42.613}, '38606': {'2019': 25.8}, '43006': {'2019': 64.739}, '44206': {'2019': 14.645}, '45106': {'2019': 32.2}, '48706': {'2019': 78.106}, '48806': {'2019': 88.993}, '49006': {'2019': 1.02}, '52606': {'2019': 8.068}, '63106': {'2019': 8.035}, '64306': {'2019': 15}, '64406': {'2019': 6}, '68606': {'2019': 0.527}, '69206': {'2019': 61.49}, '69706': {'2019': 10.969}, '71406': {'2019': 0.501}, '71506': {'2019': 0.484}, '71606': {'2019': 0.353}, '73506': {'2019': 22.767}, '101006': {'2019': 6.77}, '101606': {'2019': 14.605}, '101706': {'2019': 28.769}, '101806': {'2019': 24.2}, '102006': {'2019': 3779}, '103006': {'2019': 8.467}, '103206': {'2019': 0.638}, '103606': {'2019': 0.496}, '103706': {'2019': 0.587}, '110906': {'2019': 8.085}, '117806': {'2019': 17.272}, '117906': {'2019': 23.56}, '118006': {'2019': 59.168}, '120606': {'2019': 62.899}, '121106': {'2019': 59.798}, '121206': {'2019': 76.845}, '122006': {'2019': 5.433}, '123306': {'2019': 10.453}, '123406': {'2019': 11.484}, '132706': {'2019': 0.437}, '132806': {'2019': 2.138}, '135006': {'2019': 22.525}, '137506': {'2019': 0.571}, '138806': {'2019': 0.441}, '140606': {'2019': 4.954}, '142506': {'2019': 26.33}, '146206': {'2019': 150}, '147906': {'2019': 16.047}, '148206': {'2019': 83.099}, '148306': {'2019': 78.982}, '150606': {'2019': 66.544}, '150706': {'2019': 26.873}, '153706': {'2019': 43.144}, '169706': {'2019': 1.231}, '169806': {'2019': 1.269}, '175106': {'2019': 45.464}, '175206': {'2019': 93.3}, '179406': {'2019': 63.535}, '181206': {'2019': 86}, '183406': {'2019': 3725}, '183806': {'2019': 0.009}, '184306': {'2019': 2.349}, '194506': {'2019': 41.534}, '194906': {'2019': 2835.949}, '195706': {'2019': 2665.612}, '137906': {'2019': 0.931}, '123506': {'2019': 2374.612}, '123606': {'2019': 2984.896}, '136906': {'2019': 0.55}, '137006': {'2019': 0.59}}}

In [4]:
print(country_name)

{'AFG': 'Afghanistan', 'AGO': 'Angola', 'ALB': 'Albania', 'AND': 'Andorra', 'ARG': 'Argentina', 'ARM': 'Armenia', 'ATG': 'Antigua and Barbuda', 'AUS': 'Australia', 'AUT': 'Austria', 'AZE': 'Azerbaijan', 'BDI': 'Burundi', 'BEL': 'Belgium', 'BEN': 'Benin', 'BFA': 'Burkina Faso', 'BGD': 'Bangladesh', 'BGR': 'Bulgaria', 'BHR': 'Bahrain', 'BHS': 'Bahamas', 'BIH': 'Bosnia and Herzegovina', 'BLR': 'Belarus', 'BLZ': 'Belize', 'BOL': 'Bolivia (Plurinational State of)', 'BRA': 'Brazil', 'BRB': 'Barbados', 'BRN': 'Brunei Darussalam', 'BTN': 'Bhutan', 'BWA': 'Botswana', 'CAF': 'Central African Republic', 'CAN': 'Canada', 'CHL': 'Chile', 'CHN': 'China', 'CIV': "Cote d'Ivoire", 'CMR': 'Cameroon', 'COD': 'Congo (Democratic Republic of the)', 'COG': 'Congo', 'COL': 'Colombia', 'COM': 'Comoros', 'CPV': 'Cabo Verde', 'CRI': 'Costa Rica', 'CUB': 'Cuba', 'CYP': 'Cyprus', 'CZE': 'Czechia', 'DEU': 'Germany', 'DJI': 'Djibouti', 'DMA': 'Dominica', 'DNK': 'Denmark', 'DOM': 'Dominican Republic', 'DZA': 'Algeria', 'ECU': 'Ecuador', 'EGY': 'Egypt', 'ERI': 'Eritrea', 'EST': 'Estonia', 'ETH': 'Ethiopia', 'FIN': 'Finland', 'FJI': 'Fiji', 'FRA': 'France', 'GAB': 'Gabon', 'GEO': 'Georgia', 'GHA': 'Ghana', 'GMB': 'Gambia', 'GNQ': 'Equatorial Guinea', 'GRC': 'Greece', 'GRD': 'Grenada', 'HRV': 'Croatia', 'KHM': 'Cambodia', 'SLV': 'El Salvador', 'SWZ': 'Eswatini (Kingdom of)', 'TCD': 'Chad', 'FSM': 'Micronesia (Federated States of)', 'GIN': 'Guinea', 'GNB': 'Guinea-Bissau', 'GTM': 'Guatemala', 'GUY': 'Guyana', 'HKG': 'Hong Kong, China (SAR)', 'HND': 'Honduras', 'HTI': 'Haiti', 'HUN': 'Hungary', 'IDN': 'Indonesia', 'IND': 'India', 'IRL': 'Ireland', 'IRN': 'Iran (Islamic Republic of)', 'IRQ': 'Iraq', 'ISL': 'Iceland', 'ISR': 'Israel', 'ITA': 'Italy', 'JAM': 'Jamaica', 'JOR': 'Jordan', 'JPN': 'Japan', 'KAZ': 'Kazakhstan', 'KEN': 'Kenya', 'KGZ': 'Kyrgyzstan', 'KIR': 'Kiribati', 'KOR': 'Korea (Republic of)', 'KWT': 'Kuwait', 'LAO': "Lao People's Democratic Republic", 'LBN': 'Lebanon', 'LBR': 'Liberia', 'LBY': 'Libya', 'LIE': 'Liechtenstein', 'LSO': 'Lesotho', 'LTU': 'Lithuania', 'LUX': 'Luxembourg', 'LVA': 'Latvia', 'MAR': 'Morocco', 'MCO': 'Monaco', 'MDA': 'Moldova (Republic of)', 'MDG': 'Madagascar', 'MDV': 'Maldives', 'MEX': 'Mexico', 'MHL': 'Marshall Islands', 'MKD': 'North Macedonia', 'MLI': 'Mali', 'MLT': 'Malta', 'MMR': 'Myanmar', 'MNE': 'Montenegro', 'MNG': 'Mongolia', 'MOZ': 'Mozambique', 'MRT': 'Mauritania', 'MUS': 'Mauritius', 'MWI': 'Malawi', 'MYS': 'Malaysia', 'NAM': 'Namibia', 'NER': 'Niger', 'NGA': 'Nigeria', 'NIC': 'Nicaragua', 'NLD': 'Netherlands', 'NOR': 'Norway', 'NPL': 'Nepal', 'NRU': 'Nauru', 'NZL': 'New Zealand', 'OMN': 'Oman', 'PAK': 'Pakistan', 'PLW': 'Palau', 'PRK': "Korea (Democratic People's Rep. of)", 'PSE': 'Palestine, State of', 'ARE': 'United Arab Emirates', 'CHE': 'Switzerland', 'ESP': 'Spain', 'GBR': 'United Kingdom', 'KNA': 'Saint Kitts and Nevis', 'LCA': 'Saint Lucia', 'LKA': 'Sri Lanka', 'PAN': 'Panama', 'PER': 'Peru', 'PHL': 'Philippines', 'PNG': 'Papua New Guinea', 'POL': 'Poland', 'PRT': 'Portugal', 'PRY': 'Paraguay', 'QAT': 'Qatar', 'ROU': 'Romania', 'RUS': 'Russian Federation', 'RWA': 'Rwanda', 'SAU': 'Saudi Arabia', 'SDN': 'Sudan', 'SEN': 'Senegal', 'SGP': 'Singapore', 'SLB': 'Solomon Islands', 'SLE': 'Sierra Leone', 'SMR': 'San Marino', 'SOM': 'Somalia', 'SRB': 'Serbia', 'SSD': 'South Sudan', 'STP': 'Sao Tome and Principe', 'SUR': 'Suriname', 'SVK': 'Slovakia', 'SVN': 'Slovenia', 'SWE': 'Sweden', 'SYC': 'Seychelles', 'SYR': 'Syrian Arab Republic', 'TGO': 'Togo', 'THA': 'Thailand', 'TJK': 'Tajikistan', 'TKM': 'Turkmenistan', 'TLS': 'Timor-Leste', 'TON': 'Tonga', 'TTO': 'Trinidad and Tobago', 'TUN': 'Tunisia', 'TUR': 'Turkey', 'TUV': 'Tuvalu', 'TZA': 'Tanzania (United Republic of)', 'UGA': 'Uganda', 'UKR': 'Ukraine', 'URY': 'Uruguay', 'USA': 'United States', 'UZB': 'Uzbekistan', 'VCT': 'Saint Vincent and the Grenadines', 'VEN': 'Venezuela (Bolivarian Republic of)', 'VNM': 'Viet Nam', 'VUT': 'Vanuatu', 'WSM': 'Samoa', 'YEM': 'Yemen', 'ZAF': 'South Africa', 'ZMB': 'Zambia', 'ZWE': 'Zimbabwe'}

In [5]:
print(indicator_name)

{'23806': 'Population with at least some secondary education (% ages 25 and older)', '23906': 'Population with at least some secondary education, female (% ages 25 and older)', '24006': 'Population with at least some secondary education, male (% ages 25 and older)', '24106': 'Mean years of schooling, female (years)', '24206': 'Mean years of schooling, male (years)', '31706': 'Share of seats in parliament (% held by women)', '36806': 'Adolescent birth rate (births per 1,000 women ages 15-19)', '43006': 'Vulnerable employment (% of total employment)', '44206': 'Total population (millions)', '45106': 'Urban population (%)', '48706': 'Labour force participation rate (% ages 15 and older), female', '48806': 'Labour force participation rate (% ages 15 and older), male', '49006': 'Sex ratio at birth (male to female births)', '52606': 'Remittances, inflows (% of GDP)', '53506': 'Foreign direct investment, net inflows (% of GDP)', '63106': 'Population ages 15?64 (millions)', '64306': 'Infants lacking immunization, measles (% of one-year-olds)', '64406': 'Infants lacking immunization, DTP (% of one-year-olds)', '65606': 'Gross fixed capital formation (% of GDP)', '68606': 'Gender Inequality Index (GII)', '69206': 'Life expectancy at birth (years)', '69706': 'Expected years of schooling (years)', '71406': 'Inequality-adjusted education index', '71506': 'Inequality-adjusted life expectancy index', '101606': 'Inequality in education (%)', '101806': 'Inequality in life expectancy (%)', '103006': 'Mean years of schooling (years)', '103206': 'Life expectancy index', '103606': 'Income index', '103706': 'Education index', '110906': 'Unemployment, youth (% ages 15?24)', '111306': 'Private capital flows (% of GDP)', '120606': 'Life expectancy at birth, female (years)', '121106': 'Life expectancy at birth, male (years)', '121206': 'Young age (0-14) dependency ratio (per 100 people ages 15-64)', '122006': 'Old-age (65 and older) dependency ratio (per 100 people ages 15-64)', '123306': 'Expected years of schooling, female (years)', '123406': 'Expected years of schooling, male (years)', '132706': 'Population ages 65 and older (millions)', '132806': 'Population under age 5 (millions)', '133206': 'Exports and imports (% of GDP)', '137506': 'Human Development Index (HDI)', '140606': 'Unemployment, total (% of labour force)', '146206': 'HDI rank', '147906': 'Youth not in school or employment (% ages 15-24)', '148206': 'Labour force participation rate (% ages 15 and older)', '148306': 'Employment to population ratio (% ages 15 and older)', '150606': 'Employment in agriculture (% of total employment)', '150706': 'Employment in services (% of total employment)', '153706': 'Working poor at PPP$3.20 a day (% of total employment)', '169706': 'Total unemployment rate (female to male ratio)', '169806': 'Youth unemployment rate (female to male ratio)', '175106': 'Share of employment in nonagriculture, female (% of total employment in nonagriculture)', '178306': 'Gross capital formation (% of GDP)', '184306': 'Number of deaths and missing persons attributed to disasters (per 100,000 population)', '194506': 'Gross domestic product (GDP), total (2017 PPP $ billions)', '194906': 'GDP per capita (2017 PPP $)', '195706': 'Gross national income (GNI) per capita (constant 2017 PPP$)', '71606': 'Inequality-adjusted income index', '73506': 'Overall loss in HDI due to inequality (%)', '101706': 'Inequality in income (%)', '135006': 'Coefficient of human inequality', '138806': 'Inequality-adjusted HDI (IHDI)', '179406': 'Skilled labour force (% of labour force)', '184006': 'Proportion of informal employment in nonagricultural employment (% of total employment in nonagriculture)', '193006': 'Proportion of informal employment in nonagricultural employment, female (% of total employment in nonagriculture)', '175506': 'Contraceptive prevalence, any method (% of married or in-union women of reproductive age, 15?49 years)', '175606': 'Unmet need for family planning (% of married or in-union women of reproductive age, 15?49 years)', '38406': 'Multidimensional poverty index (MPI)', '38506': 'Population in multidimensional poverty, intensity of deprivation (%)', '38606': 'Population in multidimensional poverty, headcount (%)', '101006': 'Population in severe multidimensional poverty (%)', '102006': 'Population in multidimensional poverty, headcount (thousands) (for the year of the survey)', '117806': 'Contribution of deprivation in education to the Multidimensional Poverty Index', '117906': 'Contribution of deprivation in health to the Multidimensional Poverty Index', '118006': 'Contribution of deprivation in standard of living to the Multidimensional Poverty Index', '142506': 'Population vulnerable to multidimensional poverty (%)', '175206': 'Antenatal care coverage, at least one visit (%)', '183406': 'Population in multidimensional poverty, headcount (thousands) (projection for 2018)', '183806': 'Inequality among the poor', '181206': 'Proportion of births attended by skilled health personnel (%)', '63206': 'Gross enrolment ratio, primary (% of primary school-age population)', '63306': 'Gross enrolment ratio, secondary (% of secondary school-age population)', '133006': 'Gross enrolment ratio, pre-primary (% of preschool-age children)', '185306': 'Percentage of primary schools with access to the internet', '185406': 'Percentage of secondary schools with access to the internet', '63406': 'Gross enrolment ratio, tertiary (% of tertiary school-age population)', '175906': 'Share of graduates in science, technology, engineering and mathematics programmes at tertiary level, female (%)', '180706': 'Share of graduates in science, technology, engineering and mathematics programmes at tertiary level, male (%)', '183506': 'Share of graduates from science, technology, engineering and mathematics programmes in tertiary education who are female (%)', '183706': 'Share of graduates from science, technology, engineering and mathematics programmes in tertiary education who are male (%)', '45806': 'Primary school teachers trained to teach (%)', '46206': 'Pupil-teacher ratio, primary school (pupils per teacher)', '137906': 'Gender Development Index (GDI)', '123506': 'Estimated gross national income per capita, female (2017 PPP $)', '123606': 'Estimated gross national income per capita, male (2017 PPP $)', '136906': 'Human Development Index (HDI), female', '137006': 'Human Development Index (HDI), male'}

### Unwrap values to create good df

In [6]:
df_inicator_values = pd.DataFrame(inicator_values).T
df_inicator_values.columns = [indicator_name[nm] for nm in df_inicator_values.columns]
df_inicator_values = df_inicator_values.applymap(lambda x: x['2019'] if pd.notnull(x) else x)
df_inicator_values

,Population with at least some secondary education (% ages 25 and older),"Population with at least some secondary education, female (% ages 25 and older)","Population with at least some secondary education, male (% ages 25 and older)","Mean years of schooling, female (years)","Mean years of schooling, male (years)",Share of seats in parliament (% held by women),"Adolescent birth rate (births per 1,000 women ages 15-19)",Vulnerable employment (% of total employment),Total population (millions),Urban population (%),...,"Gross enrolment ratio, pre-primary (% of preschool-age children)",Percentage of primary schools with access to the internet,Percentage of secondary schools with access to the internet,"Gross enrolment ratio, tertiary (% of tertiary school-age population)","Share of graduates in science, technology, engineering and mathematics programmes at tertiary level, female (%)","Share of graduates in science, technology, engineering and mathematics programmes at tertiary level, male (%)","Share of graduates from science, technology, engineering and mathematics programmes in tertiary education who are female (%)","Share of graduates from science, technology, engineering and mathematics programmes in tertiary education who are male (%)",Primary school teachers trained to teach (%),"Pupil-teacher ratio, primary school (pupils per teacher)"
AFG,26.080,13.220,36.920,1.948,6.006,27.244,68.957,79.726,38.042,25.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGO,30.232,23.133,38.056,4.023,6.359,30.000,150.526,65.995,31.825,66.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,93.174,93.700,92.497,9.702,10.614,29.508,19.642,52.852,2.881,61.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AND,72.327,71.484,73.327,10.439,10.564,46.429,NaN,NaN,0.077,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ARG,57.158,59.161,54.828,11.123,10.729,39.877,62.782,21.805,44.781,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,74.942,79.127,71.583,NaN,NaN,10.000,23.886,29.983,0.197,18.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,28.020,19.920,36.918,2.880,5.146,0.971,60.352,45.627,29.162,37.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZAF,75.478,74.977,78.207,10.031,10.291,45.333,67.908,10.298,58.558,66.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZMB,44.440,38.488,54.068,6.283,8.176,17.964,120.112,78.134,17.861,44.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZWE,64.935,59.792,70.783,8.066,8.923,34.571,86.135,64.739,14.645,32.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Display the max, min and mean number of null values per column

In [7]:
print_missing_percentages(df_inicator_values)

Max, min and mean number of missing values for the columns
Max: 98.97435897435898 %
Min: 0.0 %
Mean: 37.566718995290415 %

(0.0, 98.97435897435898)

### There is a high number of missing values, we therefore remove columns where more than 50% of the data is missing

In [8]:
dropColumnHalf(df_inicator_values)

### Again see the max, min and mean number of missing values per column

In [9]:
min_missing, max_missing = print_missing_percentages(df_inicator_values)

Max, min and mean number of missing values for the columns
Max: 49.743589743589745 %
Min: 0.0 %
Mean: 10.616150019135095 %

In [9]:
df_inicator_values.describe()

,Population with at least some secondary education (% ages 25 and older),"Population with at least some secondary education, female (% ages 25 and older)","Population with at least some secondary education, male (% ages 25 and older)","Mean years of schooling, female (years)","Mean years of schooling, male (years)",Share of seats in parliament (% held by women),"Adolescent birth rate (births per 1,000 women ages 15-19)",Vulnerable employment (% of total employment),Total population (millions),Urban population (%),...,Gender Development Index (GDI),"Estimated gross national income per capita, female (2017 PPP $)","Estimated gross national income per capita, male (2017 PPP $)","Human Development Index (HDI), female","Human Development Index (HDI), male",Inequality-adjusted income index,Overall loss in HDI due to inequality (%),Inequality in income (%),Coefficient of human inequality,Inequality-adjusted HDI (IHDI)
count,175.000000,167.000000,167.000000,174.000000,174.000000,193.000000,185.000000,180.000000,195.000000,195.000000,...,167.000000,178.000000,178.000000,167.000000,167.000000,156.000000,152.000000,156.000000,152.000000,152.000000
mean,61.068074,61.736012,65.823587,8.480017,9.133402,22.981295,48.309346,38.258011,39.391426,59.257436,...,0.938994,14440.998511,24458.331354,0.702683,0.742186,0.545064,19.389145,23.401385,19.002599,0.595250
std,29.610798,29.284050,26.395358,3.421332,2.802984,11.828784,40.528834,27.774415,146.485855,23.231038,...,0.074559,15359.935986,23943.482628,0.165867,0.143194,0.172789,9.948718,9.744004,9.777324,0.190002
min,0.000000,1.738000,9.000000,1.070000,2.256000,0.100000,0.283000,0.144000,0.011000,13.200000,...,0.488000,186.041000,640.105000,0.270000,0.432000,0.176000,4.444000,8.500000,4.424000,0.232000
25%,37.296500,36.925000,45.356500,5.850000,6.733750,14.765000,13.177000,12.538250,2.081000,41.200000,...,0.908500,2925.614250,6275.933750,0.577000,0.621500,0.404750,10.792250,16.603000,10.594000,0.431500
50%,64.828000,68.067000,70.682000,9.111000,9.252500,21.094000,40.536000,32.533500,8.772000,60.000000,...,0.965000,8399.442500,16951.357000,0.730000,0.760000,0.527500,17.934500,21.779500,17.526000,0.604000
75%,89.145000,87.990500,90.916500,11.230500,11.551000,30.000000,70.504000,63.345500,28.562500,78.000000,...,0.986000,22583.779500,35488.476000,0.831500,0.848500,0.691750,27.615250,28.625000,27.012500,0.767250
max,100.000000,100.000000,100.000000,13.882000,14.431000,55.660000,186.538000,94.581000,1433.784000,100.000000,...,1.036000,71387.276000,107833.029000,0.949000,0.965000,0.858000,45.307000,56.996000,44.167000,0.899000

##

In [11]:
iter_number = (max_missing + min_missing) // 2
print(iter_number)

24.0

In [12]:
imputed_df = unlabeled_df_imputer(df_inicator_values, max_iter=int(iter_number))

KeyboardInterrupt:

In [ ]:
print(imputed_df.columns)
imputed_df.index = df_inicator_values.index

In [ ]:
display(imputed_df)

In [ ]:
imputed_df.to_csv("hdro_v2.csv")