In [1]:
import pandas as pd
from helpers import *
import sys
sys.path.append("..")
from data.unlabeled import edstats_co as df_c, edstats_da as df_d, edstats_se as df_s

### Remember to extract Edstats_csv.zip to Edstats_csv

In [2]:
df_d.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100', 'Unnamed: 69'],
      dtype='object')

In [3]:
years = ['2015', '2016', '2017', '2020']
stripped_df_d = df_d[['Country Code','Indicator Code',*years]]
print("Non na values in col 2020:",stripped_df_d['2020'].count())
stripped_df_d

Non na values in col 2020: 51436

       Country Code        Indicator Code  2015  2016  2017  2020
0               ARB            UIS.NERA.2   NaN   NaN   NaN   NaN
1               ARB          UIS.NERA.2.F   NaN   NaN   NaN   NaN
2               ARB        UIS.NERA.2.GPI   NaN   NaN   NaN   NaN
3               ARB          UIS.NERA.2.M   NaN   NaN   NaN   NaN
4               ARB           SE.PRM.TENR   NaN   NaN   NaN   NaN
...             ...                   ...   ...   ...   ...   ...
886925          ZWE      UIS.LP.AG15T24.M   NaN   NaN   NaN   NaN
886926          ZWE     SE.ADT.1524.LT.ZS   NaN   NaN   NaN   NaN
886927          ZWE  SE.ADT.1524.LT.FE.ZS   NaN   NaN   NaN   NaN
886928          ZWE  SE.ADT.1524.LT.FM.ZS   NaN   NaN   NaN   NaN
886929          ZWE  SE.ADT.1524.LT.MA.ZS   NaN   NaN   NaN   NaN

[886930 rows x 6 columns]

Merge colums to remove null values

In [4]:
for year in years[:-1]:
    fill_missing_with_column(stripped_df_d, '2020',year)
print("Non na values in col 2020:", stripped_df_d['2020'].count())
stripped_df_d

Non na values in col 2020: 132991
c:\Users\joach\code-projects\WaterSecurity\unlabeled_preprocessing\helpers.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[into] = df[into].combine_first(df[fro])
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

       Country Code        Indicator Code  2020
0               ARB            UIS.NERA.2   NaN
1               ARB          UIS.NERA.2.F   NaN
2               ARB        UIS.NERA.2.GPI   NaN
3               ARB          UIS.NERA.2.M   NaN
4               ARB           SE.PRM.TENR   NaN
...             ...                   ...   ...
886925          ZWE      UIS.LP.AG15T24.M   NaN
886926          ZWE     SE.ADT.1524.LT.ZS   NaN
886927          ZWE  SE.ADT.1524.LT.FE.ZS   NaN
886928          ZWE  SE.ADT.1524.LT.FM.ZS   NaN
886929          ZWE  SE.ADT.1524.LT.MA.ZS   NaN

[886930 rows x 3 columns]

In [5]:
df_d_withseries = stripped_df_d.merge(df_s, how='left', left_on='Indicator Code', right_on='Series Code')
df_d_withseries.drop(['Indicator Code'], inplace=True, axis=1)

In [6]:
df_d_withseries.columns

Index(['Country Code', '2020', 'Series Code', 'Topic', 'Indicator Name',
       'Short definition', 'Long definition', 'Unit of measure', 'Periodicity',
       'Base Period', 'Other notes', 'Aggregation method',
       'Limitations and exceptions', 'Notes from original source',
       'General comments', 'Source', 'Statistical concept and methodology',
       'Development relevance', 'Related source links', 'Other web links',
       'Related indicators', 'License Type', 'Unnamed: 20'],
      dtype='object')

Indicator to column

In [7]:
countryXindicator = df_d_withseries.pivot_table('2020',['Country Code'],'Indicator Name')
countryXindicator

Indicator Name,"Adjusted net enrolment rate, lower secondary, both sexes (%)","Adjusted net enrolment rate, lower secondary, female (%)","Adjusted net enrolment rate, lower secondary, gender parity index (GPI)","Adjusted net enrolment rate, lower secondary, male (%)","Adjusted net enrolment rate, primary, both sexes (%)","Adjusted net enrolment rate, primary, female (%)","Adjusted net enrolment rate, primary, gender parity index (GPI)","Adjusted net enrolment rate, primary, male (%)","Adjusted net enrolment rate, upper secondary, both sexes (%)","Adjusted net enrolment rate, upper secondary, female (%)",...,"Under-age enrolment ratio in secondary education, female (%)","Under-age enrolment ratio in secondary education, male (%)","Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)","Youth illiterate population, 15-24 years, % female","Youth literacy rate, population 15-24 years, both sexes (%)","Youth literacy rate, population 15-24 years, female (%)","Youth literacy rate, population 15-24 years, gender parity index (GPI)","Youth literacy rate, population 15-24 years, male (%)"
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12.700000,7.7,8.600000,NaN,NaN,NaN,NaN,NaN
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.700000,5.7,6.200000,NaN,NaN,NaN,NaN,NaN
ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,17.299999,17.0,17.100000,NaN,NaN,NaN,NaN,NaN
AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,47.80890,100.00000,100.00000,1.00000,100.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,32.700001,11.1,16.700001,NaN,NaN,NaN,NaN,NaN
ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,27.700001,23.1,25.200001,34.34808,98.95578,99.22904,1.00552,98.68459
ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.000000,7.3,7.700000,NaN,NaN,NaN,NaN,NaN
ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.100000,5.1,5.100000,NaN,NaN,NaN,NaN,NaN

In [8]:
print_missing_percentages(countryXindicator)

Max, min and mean number of missing values for the columns
Max: 99.5850622406639 %
Min: 3.7344398340248963 %
Mean: 73.40769915289316 %

(3.7344398340248963, 99.5850622406639)

In [9]:
dropColumnHalf(countryXindicator)

In [10]:
print_missing_percentages(countryXindicator)

Max, min and mean number of missing values for the columns
Max: 49.79253112033195 %
Min: 3.7344398340248963 %
Mean: 28.48964031846277 %

(3.7344398340248963, 49.79253112033195)

In [11]:
imputed_countryXindicator = unlabeled_df_imputer(countryXindicator, max_iter=10)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\impute\_iterative.py:669: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"

In [28]:
imputed_countryXindicator

Indicator Name,"Adjusted net enrolment rate, primary, both sexes (%)","Age population, age 0, female, UNESCO","Age population, age 0, total, UNESCO","Age population, age 01, female, UNESCO","Age population, age 01, total, UNESCO","Age population, age 02, female, UNESCO","Age population, age 02, total, UNESCO","Age population, age 03, female, UNESCO","Age population, age 03, total, UNESCO","Age population, age 04, female, UNESCO",...,Projection: Population in thousands by highest level of educational attainment. Upper Secondary. Female,Projection: Population in thousands by highest level of educational attainment. Upper Secondary. Male,Projection: Population in thousands by highest level of educational attainment. Upper Secondary. Total,"Teachers in primary education, both sexes (number)",Theoretical duration of primary education (years),Theoretical duration of secondary education (years),Theoretical duration of upper secondary education (years),"Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)"
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,99.725971,542.000000,1.112000e+03,572.000000,1.170000e+03,600.000000,1.224000e+03,623.000000,1.269000e+03,643.000000,...,7.910000,5.740000,13.650000,7636.977781,6.000000,5.000000,3.000000,1963.732938,3461.178278,4713.970441
AFG,5789.706514,682677.000000,1.403010e+06,650389.000000,1.338500e+06,620880.000000,1.279403e+06,593957.000000,1.225345e+06,569425.000000,...,3736.406579,4234.047406,7410.634260,142880.000000,6.000000,6.000000,3.000000,12.700000,7.700000,8.600000
AGO,5521.646445,414919.000000,8.320930e+05,396537.000000,7.939500e+05,379705.000000,7.591640e+05,364295.000000,7.274550e+05,350180.000000,...,3787.200075,3280.676353,6140.197226,108496.022194,6.000000,6.000000,3.000000,6.700000,5.700000,6.200000
ALB,5797.340075,23697.000000,4.910500e+04,24026.000000,4.970900e+04,24243.000000,5.010400e+04,24360.000000,5.031500e+04,24397.000000,...,589.890000,585.200000,1175.090000,10119.000000,5.000000,7.000000,3.000000,17.299999,17.000000,17.100000
AND,1449.292555,-278072.572576,-6.716407e+05,-178040.068286,-7.673874e+05,-251546.996823,-4.877597e+05,-173803.626626,-3.196188e+05,-117501.705414,...,12206.079637,22038.549338,36808.406696,419.000000,6.000000,6.000000,2.000000,9096.258314,15221.351379,26008.426185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,5764.457814,-518585.303776,-1.045572e+06,-375532.499402,-9.679352e+05,-384853.639003,-6.279717e+05,-275863.980435,-4.325407e+05,-186727.793201,...,2826.926017,22295.298264,33989.735860,188005.765582,-18788.532759,-3637.683112,-8743.235754,30804.786342,55474.131017,72866.295637
YEM,5710.914403,458859.000000,9.360530e+05,452601.000000,9.230170e+05,444988.000000,9.072520e+05,436223.000000,8.891710e+05,426514.000000,...,3232.081823,3576.357348,6611.456631,110458.811869,6.000000,6.000000,3.000000,32.700001,11.100000,16.700001
ZAF,4555.118457,484535.000000,9.806630e+05,486901.000000,9.852150e+05,489516.000000,9.901940e+05,492299.000000,9.954450e+05,495165.000000,...,6820.770000,6978.940000,13799.710000,212013.051666,7.000000,5.000000,3.000000,27.700001,23.100000,25.200001
ZMB,5747.949748,226616.000000,4.573290e+05,220950.000000,4.454510e+05,215890.000000,4.348760e+05,211367.000000,4.254540e+05,207311.000000,...,448.340000,818.420000,1266.760000,97970.082673,7.000000,5.000000,3.000000,8.000000,7.300000,7.700000
ZWE,5806.205918,181422.000000,3.647610e+05,179761.000000,3.611010e+05,177982.000000,3.572610e+05,176130.000000,3.533210e+05,174240.000000,...,2052.780000,2154.540000,4207.330000,98120.875679,7.000000,6.000000,4.000000,5.100000,5.100000,5.100000

In [31]:
bigtable = imputed_countryXindicator.merge(df_c, how='left', on="Country Code")
bigtable.columns

Index(['Country Code', 'Adjusted net enrolment rate, primary, both sexes (%)',
       'Age population, age 0, female, UNESCO',
       'Age population, age 0, total, UNESCO',
       'Age population, age 01, female, UNESCO',
       'Age population, age 01, total, UNESCO',
       'Age population, age 02, female, UNESCO',
       'Age population, age 02, total, UNESCO',
       'Age population, age 03, female, UNESCO',
       'Age population, age 03, total, UNESCO',
       ...
       'IMF data dissemination standard', 'Latest population census',
       'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', 'Unnamed: 31'],
      dtype='object', length=635)

In [32]:
#bigtable.to_csv(export_path)
bigtable

,Country Code,"Adjusted net enrolment rate, primary, both sexes (%)","Age population, age 0, female, UNESCO","Age population, age 0, total, UNESCO","Age population, age 01, female, UNESCO","Age population, age 01, total, UNESCO","Age population, age 02, female, UNESCO","Age population, age 02, total, UNESCO","Age population, age 03, female, UNESCO","Age population, age 03, total, UNESCO",...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,99.725971,542.000000,1.112000e+03,572.000000,1.170000e+03,600.000000,1.224000e+03,623.000000,1.269000e+03,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,5789.706514,682677.000000,1.403010e+06,650389.000000,1.338500e+06,620880.000000,1.279403e+06,593957.000000,1.225345e+06,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,5521.646445,414919.000000,8.320930e+05,396537.000000,7.939500e+05,379705.000000,7.591640e+05,364295.000000,7.274550e+05,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,5797.340075,23697.000000,4.910500e+04,24026.000000,4.970900e+04,24243.000000,5.010400e+04,24360.000000,5.031500e+04,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,1449.292555,-278072.572576,-6.716407e+05,-178040.068286,-7.673874e+05,-251546.996823,-4.877597e+05,-173803.626626,-3.196188e+05,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,XKX,5764.457814,-518585.303776,-1.045572e+06,-375532.499402,-9.679352e+05,-384853.639003,-6.279717e+05,-275863.980435,-4.325407e+05,...,General Data Dissemination System (GDDS),2011,NaN,"Integrated household survey (IHS), 2011",NaN,NaN,NaN,NaN,NaN,NaN
237,YEM,5710.914403,458859.000000,9.360530e+05,452601.000000,9.230170e+05,444988.000000,9.072520e+05,436223.000000,8.891710e+05,...,General Data Dissemination System (GDDS),2004,"Demographic and Health Survey (DHS), 2013","Expenditure survey/budget survey (ES/BS), 2005",NaN,NaN,2006.0,2012.0,2005,NaN
238,ZAF,4555.118457,484535.000000,9.806630e+05,486901.000000,9.852150e+05,489516.000000,9.901940e+05,492299.000000,9.954450e+05,...,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey (DHS), 2003; Wor...","Expenditure survey/budget survey (ES/BS), 2010",NaN,2007,2010.0,2012.0,2000,NaN
239,ZMB,5747.949748,226616.000000,4.573290e+05,220950.000000,4.454510e+05,215890.000000,4.348760e+05,211367.000000,4.254540e+05,...,General Data Dissemination System (GDDS),2010,"Demographic and Health Survey (DHS), 2013","Integrated household survey (IHS), 2010",NaN,2010. Population and Housing Census.,NaN,2011.0,2002,NaN
240,ZWE,5806.205918,181422.000000,3.647610e+05,179761.000000,3.611010e+05,177982.000000,3.572610e+05,176130.000000,3.533210e+05,...,General Data Dissemination System (GDDS),2012,"Demographic and Health Survey (DHS), 2010/11","Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2012.0,2002,NaN