In [1]:
import pandas as pd
import numpy as np

In [2]:
cwa_path = '../../data/labeled/2018_-_Cities_Water_Actions.csv'
cwr_path = '../../data/labeled/2018_-_Cities_Water_Risks.csv'

In [3]:
cwa = pd.read_csv(cwa_path)
cwa.head()

,Account No,Organisation,City,Country,Region,Access,C40,Reporting Year,Risks to city's water supply,Adaptation action,Action description,City Location
0,1093,City of Atlanta,Atlanta,United States of America,North America,public,NaN,2018,Increased water stress or scarcity,Investment in existing water supply infrastruc...,"The city is building a new reservoir, fixing t...","(33.749, -84.388)"
1,1184,City of Austin,Austin,United States of America,North America,public,C40,2018,Increased water stress or scarcity,Conservation awareness and education,NaN,"(30.2672, -97.7431)"
2,1184,City of Austin,Austin,United States of America,North America,public,C40,2018,Increased water stress or scarcity,Conservation incentives,NaN,"(30.2672, -97.7431)"
3,1184,City of Austin,Austin,United States of America,North America,public,C40,2018,Increased water stress or scarcity,Water use restrictions,NaN,"(30.2672, -97.7431)"
4,1184,City of Austin,Austin,United States of America,North America,public,C40,2018,Increased water stress or scarcity,Efficiency regulations or standards,NaN,"(30.2672, -97.7431)"

In [4]:
cwr = pd.read_csv(cwr_path)
cwr.head()

,Account No,Organisation,City,Country,Region,Access,C40,Reporting year,Risks to city's water supply,Timescale,Magnitude,Risk description,Current population,Population year,City Location
0,1093,City of Atlanta,Atlanta,United States of America,North America,public,NaN,2018,Increased water stress or scarcity,Short-term,Serious,The city depends on one river for water supply...,450182.0,2017,"(33.749, -84.388)"
1,1093,City of Atlanta,Atlanta,United States of America,North America,public,NaN,2018,Higher water prices,Current,Serious,The water cost burden is felt across all ZIP c...,450182.0,2017,"(33.749, -84.388)"
2,1184,City of Austin,Austin,United States of America,North America,public,C40,2018,Increased water stress or scarcity,Medium-term,Extremely serious,NaN,1265974.0,2017,"(30.2672, -97.7431)"
3,1499,Ajuntament de Barcelona,Barcelona,Spain,Europe,public,C40,2018,Increased water stress or scarcity,Current,Extremely serious,The downscaling of the climate projections at ...,1604555.0,2015,"(41.3823, 2.1775)"
4,1499,Ajuntament de Barcelona,Barcelona,Spain,Europe,public,C40,2018,Declining water quality,Medium-term,Serious,A reduction in water resources availability c...,1604555.0,2015,"(41.3823, 2.1775)"

In [5]:
# Convert columns names to lowercase
cwa.columns = cwa.columns.str.lower().str.replace(" ", "_").str.replace("'","")
cwr.columns = cwr.columns.str.lower().str.replace(" ", "_").str.replace("'","")

In [6]:
cwr.isnull().sum()

account_no                       0
organisation                     0
city                             0
country                          0
region                           0
access                           0
c40                            504
reporting_year                   0
risks_to_citys_water_supply     40
timescale                       11
magnitude                      159
risk_description               107
current_population               0
population_year                  0
city_location                    0
dtype: int64

In [7]:
cwa.isnull().sum()

account_no                       0
organisation                     0
city                             0
country                          0
region                           0
access                           0
c40                            536
reporting_year                   0
risks_to_citys_water_supply     75
adaptation_action               19
action_description             146
city_location                    0
dtype: int64

In [8]:
id_columns = list(set(cwr.columns) & set(cwa.columns))
id_columns

['reporting_year',
 'region',
 'organisation',
 'account_no',
 'risks_to_citys_water_supply',
 'city',
 'city_location',
 'access',
 'country',
 'c40']

In [9]:
cwr[id_columns].isnull().sum()

reporting_year                   0
region                           0
organisation                     0
account_no                       0
risks_to_citys_water_supply     40
city                             0
city_location                    0
access                           0
country                          0
c40                            504
dtype: int64

In [10]:
cwa[id_columns].isnull().sum()

reporting_year                   0
region                           0
organisation                     0
account_no                       0
risks_to_citys_water_supply     75
city                             0
city_location                    0
access                           0
country                          0
c40                            536
dtype: int64

In [11]:
cwr['c40'] = cwr['c40'] == 'C40'
cwr[id_columns] = cwr[id_columns].fillna('nan')

In [12]:
cwa['c40'] = cwa['c40'] == 'C40'
cwa[id_columns] = cwa[id_columns].fillna('nan')

In [13]:
len(cwa[id_columns]), len(cwa[id_columns].drop_duplicates())

(685, 484)

In [14]:
len(cwr[id_columns]), len(cwr[id_columns].drop_duplicates())

(608, 578)

In [15]:
cwa_agg = cwa.groupby(id_columns).agg(set).reset_index()
cwr_agg = cwr.groupby(id_columns).agg(set).reset_index()

In [16]:
cwr_agg

,reporting_year,region,organisation,account_no,risks_to_citys_water_supply,city,city_location,access,country,c40,timescale,magnitude,risk_description,current_population,population_year
0,2018,Africa,Abuja Federal Capital Territory,36043,Higher water prices,Abuja,"(9.07647, 7.39857)",public,Nigeria,False,{Short-term},{nan},{nan},{2440000.0},{2017}
1,2018,Africa,Abuja Federal Capital Territory,36043,Inadequate or ageing infrastructure,Abuja,"(9.07647, 7.39857)",public,Nigeria,False,{Medium-term},{nan},{nan},{2440000.0},{2017}
2,2018,Africa,Abuja Federal Capital Territory,36043,Increased water stress or scarcity,Abuja,"(9.07647, 7.39857)",public,Nigeria,False,{Short-term},{nan},{nan},{2440000.0},{2017}
3,2018,Africa,Addis Ababa City Administration,31146,Inadequate or ageing infrastructure,Addis Ababa,"(9.02887, 38.7544)",public,Ethiopia,True,{Short-term},{Serious},{nan},{3103374.0},{2013}
4,2018,Africa,Addis Ababa City Administration,31146,Increased water demand,Addis Ababa,"(9.02887, 38.7544)",public,Ethiopia,True,{Short-term},{Serious},{nan},{3103374.0},{2013}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,2018,Southeast Asia and Oceania,Wellington City Council,43937,Inadequate or ageing infrastructure,Wellington,"(-41.2865, 174.776)",public,New Zealand,False,{Current},{nan},{Wellington has a significant problem with agi...,{209102.0},{2017}
574,2018,Southeast Asia and Oceania,Wellington City Council,43937,Increased water stress or scarcity,Wellington,"(-41.2865, 174.776)",public,New Zealand,False,{Medium-term},{nan},{Wellington City suffers from a dual risk when...,{209102.0},{2017}
575,2018,Southeast Asia and Oceania,Wellington City Council,43937,nan,Wellington,"(-41.2865, 174.776)",public,New Zealand,False,{Current},{nan},{Wellington is a coastal city. Though it has n...,{209102.0},{2017}
576,2018,Southeast Asia and Oceania,Wollongong City Council,54253,Increased water stress or scarcity,Wollongong,"(-34.4278, 150.893)",public,Australia,False,{Medium-term},{nan},{Reduced water supply and increased cost of pr...,{211201.0},{2017}
577,2018,Southeast Asia and Oceania,Wollongong City Council,54253,nan,Wollongong,"(-34.4278, 150.893)",public,Australia,False,{Current},{nan},"{Stormwater capacity of channel, bank overflow...",{211201.0},{2017}

In [17]:
cw_data = pd.merge(cwa_agg, cwr_agg, on=id_columns, how='outer').applymap(lambda x: {np.nan} if pd.isna(x) else x)

In [18]:
cw_data.head()

,reporting_year,region,organisation,account_no,risks_to_citys_water_supply,city,city_location,access,country,c40,adaptation_action,action_description,timescale,magnitude,risk_description,current_population,population_year
0,2018,Africa,Abuja Federal Capital Territory,36043,Higher water prices,Abuja,"(9.07647, 7.39857)",public,Nigeria,False,{Water metering},{nan},{Short-term},{nan},{nan},{2440000.0},{2017}
1,2018,Africa,Abuja Federal Capital Territory,36043,Inadequate or aging infrastructure,Abuja,"(9.07647, 7.39857)",public,Nigeria,False,{Investment in existing water supply infrastru...,{nan},{nan},{nan},{nan},{nan},{nan}
2,2018,Africa,Abuja Federal Capital Territory,36043,Increased water stress or scarcity,Abuja,"(9.07647, 7.39857)",public,Nigeria,False,{Efficiency regulations or standards},{nan},{Short-term},{nan},{nan},{2440000.0},{2017}
3,2018,Africa,City of Cape Town,35858,Increased water stress or scarcity,Cape Town,"(-33.9253, 18.4239)",public,South Africa,True,{Diversifying water supply (including new sour...,{Extensive pressure management has successfull...,{Current},{Extremely serious},{The City has generally been able to successfu...,{4174510.0},{2017}
4,2018,Africa,City of Dar es Salaam,35893,Inadequate or aging infrastructure,Dar es Salaam,"(-6.79235, 39.2083)",public,United Republic of Tanzania,True,{Investment in existing water supply infrastru...,{City provide some % of the total money correc...,{nan},{nan},{nan},{nan},{nan}

In [19]:
cw_data['city_location'] = cw_data['city_location'].apply(eval)
cw_data['latitude'] = cw_data['city_location'].apply(lambda x: x[0])
cw_data['longitude'] = cw_data['city_location'].apply(lambda x: x[1])
cw_data.drop(columns=['city_location'])
id_columns = [x for x in id_columns if x !='city_location'] + ['latitude','longitude']

In [20]:
value_columns = [ x for x in cw_data.columns if x not in id_columns]
len(cw_data[id_columns].drop_duplicates()) # seems that all

677

In [21]:
c40_data = cw_data[cw_data['c40']==True].copy()

In [22]:
# Values that can be converted back to strings from sets
singular_cols = c40_data.set_index(id_columns).applymap(lambda x: len(x)==1).product() > 0
singular_cols

city_location         False
adaptation_action     False
action_description    False
timescale             False
magnitude              True
risk_description      False
current_population     True
population_year        True
dtype: bool

In [23]:
# magnitude is nicely singular per id
c40_data.loc[:, singular_cols[singular_cols].index] = c40_data.loc[:, singular_cols[singular_cols].index].applymap(lambda x: list(x)[0])

In [24]:
c40_data = c40_data.applymap(lambda x: [t for t in x if not pd.isnull(t)] if isinstance(x,set) else x)
num_nulls = c40_data[value_columns].isnull()
num_nulls.mean()

city_location         0.000000
adaptation_action     0.000000
action_description    0.000000
timescale             0.000000
magnitude             0.339286
risk_description      0.000000
current_population    0.151786
population_year       0.151786
dtype: float64

In [25]:
list_columns = c40_data.iloc[0].apply(lambda x: isinstance(x, list))
list_columns = list_columns[list_columns].index
list_columns

Index(['adaptation_action', 'action_description', 'timescale',
       'risk_description'],
      dtype='object')

In [26]:
list_nulls = c40_data[list_columns].applymap(lambda x: len(x) == 0)
list_nulls.mean()

adaptation_action     0.348214
action_description    0.419643
timescale             0.169643
risk_description      0.321429
dtype: float64

In [27]:
list_nulls.shape, num_nulls.shape

((112, 4), (112, 8))

In [28]:
total_nulls = pd.concat([c40_data[id_columns], list_nulls, num_nulls],axis=1)

In [29]:
c40_data[total_nulls['magnitude']]

,reporting_year,region,organisation,account_no,risks_to_citys_water_supply,city,city_location,access,country,c40,adaptation_action,action_description,timescale,magnitude,risk_description,current_population,population_year,latitude,longitude
4,2018,Africa,City of Dar es Salaam,35893,Inadequate or aging infrastructure,Dar es Salaam,"(-6.79235, 39.2083)",public,United Republic of Tanzania,True,[Investment in existing water supply infrastru...,[City provide some % of the total money correc...,[],NaN,[],NaN,NaN,-6.79235,39.20830
5,2018,Africa,City of Durban,35863,Inadequate or aging infrastructure,Durban,"(-29.8587, 31.0218)",public,South Africa,True,[Investment in existing water supply infrastru...,[improvements to infrastructure are being done...,[],NaN,[],NaN,NaN,-29.85870,31.02180
9,2018,Africa,City of Johannesburg,31115,nan,Johannesburg,"(-26.2041, 28.0473)",public,South Africa,True,[Water use restrictions],[A by-law that effects water restrictions is i...,[],NaN,[],NaN,NaN,-26.20410,28.04730
15,2018,Africa,City of Lagos,31167,Inadequate or aging infrastructure,Lagos,"(6.52437, 3.3792)",public,Nigeria,True,[Investment in existing water supply infrastru...,[The State Government is currently re-engineer...,[],NaN,[],NaN,NaN,6.52437,3.37920
58,2018,East Asia,Dalian Municipal People's Government,54298,Higher water prices,Dalian,"(38.9389, 121.567)",public,China,True,"[Conservation awareness and education, Municip...",[],[],NaN,[],0.0,0.0,38.93890,121.56700
59,2018,East Asia,Dalian Municipal People's Government,54298,Increased water stress or scarcity,Dalian,"(38.9389, 121.567)",public,China,True,"[Conservation awareness and education, Municip...",[],[],NaN,[],0.0,0.0,38.93890,121.56700
60,2018,East Asia,Government of Hong Kong Special Administrative...,31169,Inadequate or aging infrastructure,Hong Kong,"(22.2881, 114.14)",public,"China, Hong Kong Special Administrative Region",True,[Other: Other],[Rehabilitation and Replacement (R&R) Programm...,[],NaN,[],NaN,NaN,22.28810,114.14000
70,2018,East Asia,Tokyo Metropolitan Government,31111,Inadequate or aging infrastructure,Tokyo,"(35.41, 139.41)",public,Japan,True,[],[Renewal of water purification plant],[],NaN,[],NaN,NaN,35.41000,139.41000
74,2018,Europe,Ajuntament de Barcelona,1499,Inadequate or aging infrastructure,Barcelona,"(41.3823, 2.1775)",public,Spain,True,[Investment in existing water supply infrastru...,[],[],NaN,[],NaN,NaN,41.38230,2.17750
89,2018,Europe,City of Oslo,14088,nan,Oslo,"(59.9139, 10.7522)",public,Norway,True,[Diversifying water supply (including new sour...,[High activity on re-opening urban rivers and ...,[],NaN,[],NaN,NaN,59.91390,10.75220
90,2018,Europe,City of Paris,31175,Declining water quality,Paris,"(48.8566, 2.35222)",public,France,True,[Conservation incentives],[Several actions are committed to maintain the...,[Short-term],NaN,[There are already problems of water quality o...,2265886.0,2015.0,48.85660,2.35222
91,2018,Europe,City of Paris,31175,Increased water stress or scarcity,Paris,"(48.8566, 2.35222)",public,France,True,[Diversifying water supply (including new sour...,[Paris has a very developed network of drinkab...,[Long-term],NaN,[Only in conditions of more frequent and inten...,2265886.0,2015.0,48.85660,2.35222
135,2018,Europe,Roma Capitale,31110,Inadequate or aging infrastructure,Roma,"(41.53, 12.2858)",public,Italy,True,[Investment in existing water supply infrastru...,[A redundant system to transport the main wate...,[],NaN,[],NaN,NaN,41.53000,12.28580
190,2018,Latin America,Mexico City,31172,Inadequate or aging infrastructure,Mexico City,"(19.4326, -99.1332)",public,Mexico,True,"[Municipal water efficiency retrofits, Water m...",[Review tarifs accordng to water consumption a...,[],NaN,[],NaN,NaN,19.43260,-99.13320
268,2018,Latin America,Prefeitura do Rio de Janeiro,31176,Inadequate or aging infrastructure,Rio de Janeiro,"(-22.9054, -43.5614)",public,Brazil,True,[Investment in existing water supply infrastru...,[Water supply and distribution falls under Sta...,[],NaN,[],NaN,NaN,-22.90540,-43.56140
270,2018,Latin America,Region Metropolitana de Guadalajara,35867,Increased water stress or scarcity,Guadalajara,"(20.6597, -103.35)",public,Mexico,True,[Conservation awareness and education],[EducaciÃƒÂ³n ambiental en los temas ambientales...,[Long-term],NaN,[La disponibilidad de agua para la ciudad se ...,1460148.0,2015.0,20.65970,-103.35000
395,2018,North America,"City of Portland, OR",14874,Higher water prices,"Portland, OR","(45.52, -122.682)",public,United States of America,True,[Investment in existing water supply infrastru...,"[Through asset management, timely investments ...",[Long-term],NaN,[Through the Water BureauÃ¢â‚¬â„¢s Asset Management...,639863.0,2016.0,45.52000,-122.68200
396,2018,North America,"City of Portland, OR",14874,Inadequate or aging infrastructure,"Portland, OR","(45.52, -122.682)",public,United States of America,True,[Investment in existing water supply infrastru...,"[Through a robust asset management program, ti...",[],NaN,[],NaN,NaN,45.52000,-122.68200
397,2018,North America,"City of Portland, OR",14874,Regulatory,"Portland, OR","(45.52, -122.682)",public,United States of America,True,[],[],[Long-term],NaN,[Some regulatory requirements related to water...,639863.0,2016.0,45.52000,-122.68200
398,2018,North America,"City of Portland, OR",14874,nan,"Portland, OR","(45.52, -122.682)",public,United States of America,True,[Watershed preservation],[Portland seeks to manage the watershed in way...,[Medium-term],NaN,"[Portland has a secondary, redundant, groundwa...",639863.0,2016.0,45.52000,-122.68200
419,2018,North America,City of Seattle,16581,Increased water stress or scarcity,Seattle,"(47.6062, -122.332)",public,United States of America,True,[Other],[SPU has a comprehensive approach to reducing ...,[Long-term],NaN,[SPU evaluated low cost operational or structu...,725000.0,2017.0,47.60620,-122.33200
435,2018,North America,District of Columbia,31090,Inadequate or aging infrastructure,"Washington, DC","(38.9072, -77.0369)",public,United States of America,True,[Investment in existing water supply infrastru...,"[Climate Ready DC, the DistrictÃ¢â‚¬â„¢s Climate Ad...",[],NaN,[],NaN,NaN,38.90720,-77.03690
452,2018,South and West Asia,Dhaka City,50782,Declining water quality,Dhaka,"(23.8103, 90.4125)",public,Bangladesh,True,[],[],[Current],NaN,[],4500000.0,0.0,23.81030,90.41250
453,2018,South and West Asia,Dhaka City,50782,Inadequate or aging infrastructure,Dhaka,"(23.8103, 90.4125)",public,Bangladesh,True,[],[],[],NaN,[],NaN,NaN,23.81030,90.41250
454,2018,South and West Asia,Dhaka City,50782,Increased water stress or scarcity,Dhaka,"(23.8103, 90.4125)",public,Bangladesh,True,[Diversifying water supply (including new sour...,[Rain water harvesting & River water can be pu...,[Current],NaN,[Crysis of drinking water],4500000.0,0.0,23.81030,90.41250
455,2018,South and West Asia,Dhaka City,50782,nan,Dhaka,"(23.8103, 90.4125)",public,Bangladesh,True,[Stormwater management (natural or man-made in...,[Embankment is constructed around Dhaka City t...,[Short-term],NaN,[Increases water born diseases],4500000.0,0.0,23.81030,90.41250
456,2018,South and West Asia,Kolkata Metropolitan Area,35904,nan,Kolkata,"(22.5726, 88.3639)",public,India,True,"[Efficiency regulations or standards, Stormwat...",[Channelisation of drains Construction of new ...,"[Current, Short-term]",NaN,[53% of the boroughs within Kolkata Municipal ...,14030000.0,2011.0,22.57260,88.36390
458,2018,Southeast Asia and Oceania,Auckland Council,43932,Inadequate or aging infrastructure,Auckland,"(-36.8153, 174.742)",public,New Zealand,True,[Diversifying water supply (including new sour...,[Climate change strategies in relation to wate...,[],NaN,[],NaN,NaN,-36.81530,174.74200
468,2018,Southeast Asia and Oceania,City of Sydney,31114,Inadequate or aging infrastructure,City of Sydney,"(-33.8675, 151.207)",public,Australia,True,[Stormwater management (natural or man-made in...,"[Since 2006, the number of parks and open spac...",[],NaN,[],NaN,NaN,-33.86750,151.20700
472,2018,Southeast Asia and Oceania,Jakarta City Government,31166,Declining water quality,Jakarta,"(-6.1751, 106.865)",public,Indonesia,True,[Efficiency regulations or standards],[ERROR: #NAME?],[Current],NaN,[Pollution caused by industrial and household ...,10075310.0,2014.0,-6.17510,106.86500
473,2018,Southeast Asia and Oceania,Jakarta City Government,31166,Higher water prices,Jakarta,"(-6.1751, 106.865)",public,Indonesia,True,[Water metering],[ERROR: #NAME?],[Long-term],NaN,[Need for clean water is increasing resulting ...,10075310.0,2014.0,-6.17510,106.86500
474,2018,Southeast Asia and Oceania,Jakarta City Government,31166,Inadequate or aging infrastructure,Jakarta,"(-6.1751, 106.865)",public,Indonesia,True,[Efficiency regulations or standards],[ERROR: #NAME?],[],NaN,[],NaN,NaN,-6.17510,106.86500
475,2018,Southeast Asia and Oceania,Jakarta City Government,31166,Increased water stress or scarcity,Jakarta,"(-6.1751, 106.865)",public,Indonesia,True,[Watershed preservation],[- Consistently implement the local Ground Wat...,[Current],NaN,"[Scarcity of clean water, especially in areas ...",10075310.0,2014.0,-6.17510,106.86500
476,2018,Southeast Asia and Oceania,Jakarta City Government,31166,nan,Jakarta,"(-6.1751, 106.865)",public,Indonesia,True,[Other: Stormwater management (natural or man ...,[- Restore damaged and lost water ecosystems (...,[Current],NaN,[Increased frequency of rain affecting the are...,10075310.0,2014.0,-6.17510,106.86500
490,2018,Africa,City of Durban,35863,Inadequate or ageing infrastructure,Durban,"(-29.8587, 31.0218)",public,South Africa,True,[],[],"[Medium-term, Long-term]",NaN,[Vulnerability of the Central Sewage Treatment...,38201740.0,2016.0,-29.85870,31.02180
639,2018,North America,"City of Portland, OR",14874,Inadequate or ageing infrastructure,"Portland, OR","(45.52, -122.682)",public,United States of America,True,[],[],[Medium-term],NaN,[Water Bureau has an extensive Asset Managemen...,639863.0,2016.0,45.52000,-122.68200
662,2018,South and West Asia,Dhaka City,50782,Inadequate or ageing infrastructure,Dhaka,"(23.8103, 90.4125)",public,Bangladesh,True,[],[],[Current],NaN,[],4500000.0,0.0,23.81030,90.41250
674,2018,Southeast Asia and Oceania,Jakarta City Government,31166,Inadequate or ageing infrastructure,Jakarta,"(-6.1751, 106.865)",public,Indonesia,True,[],[],[Current],NaN,"[Piped water coverage is still very limited, t...",10075310.0,2014.0,-6.17510,106.86500

In [30]:
c40_data['magnitude'].unique()

array(['Extremely serious', nan, 'Serious', 'Less Serious'], dtype=object)

In [31]:
c40_risks = c40_data[id_columns+['magnitude']].copy()
c40_risks['low'] = c40_risks['magnitude'] == 'Less Serious'
c40_risks['medium'] = c40_risks['magnitude'] == 'Serious'
c40_risks['high'] = c40_risks['magnitude'] == 'Extremely Serious'
c40_risks['unknown'] = c40_risks['magnitude'].isna()
c40_risks = c40_risks.drop(columns=['magnitude']).groupby([x for x in id_columns if x!="risks_to_citys_water_supply"]).agg(sum).reset_index()
c40_risks

,reporting_year,region,organisation,account_no,city,access,country,c40,latitude,longitude,low,medium,high,unknown
0,2018,Africa,Addis Ababa City Administration,31146,Addis Ababa,public,Ethiopia,True,9.02887,38.75440,0,3,0,0
1,2018,Africa,City of Cape Town,35858,Cape Town,public,South Africa,True,-33.92530,18.42390,0,0,0,0
2,2018,Africa,City of Dar es Salaam,35893,Dar es Salaam,public,United Republic of Tanzania,True,-6.79235,39.20830,0,2,0,1
3,2018,Africa,City of Durban,35863,Durban,public,South Africa,True,-29.85870,31.02180,0,0,0,2
4,2018,Africa,City of Johannesburg,31115,Johannesburg,public,South Africa,True,-26.20410,28.04730,0,0,0,1
5,2018,Africa,City of Lagos,31167,Lagos,public,Nigeria,True,6.52437,3.37920,0,5,0,1
6,2018,Africa,City of Nairobi,35913,Nairobi,public,Kenya,True,-1.29206,36.82190,0,2,0,0
7,2018,East Asia,Changwon City,31186,Changwon,public,Republic of Korea,True,35.15420,126.94900,0,1,0,0
8,2018,East Asia,City of Yokohama,31113,Yokohama,public,Japan,True,35.44370,139.63800,0,1,0,0
9,2018,East Asia,Dalian Municipal People's Government,54298,Dalian,public,China,True,38.93890,121.56700,0,0,0,2
10,2018,East Asia,Government of Hong Kong Special Administrative...,31169,Hong Kong,public,"China, Hong Kong Special Administrative Region",True,22.28810,114.14000,1,1,0,1
11,2018,East Asia,Tokyo Metropolitan Government,31111,Tokyo,public,Japan,True,35.41000,139.41000,0,4,0,1
12,2018,Europe,Ajuntament de Barcelona,1499,Barcelona,public,Spain,True,41.38230,2.17750,0,3,0,1
13,2018,Europe,City of Oslo,14088,Oslo,public,Norway,True,59.91390,10.75220,1,0,0,1
14,2018,Europe,City of Paris,31175,Paris,public,France,True,48.85660,2.35222,0,0,0,2
15,2018,Europe,City of Stockholm,3429,Stockholm,public,Sweden,True,59.32930,18.06860,1,1,0,0
16,2018,Europe,City of Warsaw,31185,Warsaw,public,Poland,True,52.22970,21.01220,0,1,0,0
17,2018,Europe,Greater London Authority,3422,London,public,United Kingdom of Great Britain and Northern I...,True,51.50480,-0.07868,1,2,0,0
18,2018,Europe,Roma Capitale,31110,Roma,public,Italy,True,41.53000,12.28580,0,0,0,1
19,2018,Latin America,Distrito Metropolitano de Quito,42178,Quito,public,Ecuador,True,-0.23330,-78.51670,0,1,0,0
20,2018,Latin America,Mexico City,31172,Mexico City,public,Mexico,True,19.43260,-99.13320,0,0,0,1
21,2018,Latin America,Municipality of Curitiba,31156,Curitiba,public,Brazil,True,-25.43110,-49.26470,1,0,0,0
22,2018,Latin America,Municipality of MedellÃƒÂ­n,35873,MedellÃƒÂ­n,public,Colombia,True,6.22729,-75.57350,0,2,0,0
23,2018,Latin America,Prefeitura de SÃƒÂ£o Paulo,31184,SÃƒÂ£o Paulo,public,Brazil,True,-23.55950,-46.73820,0,1,0,0
24,2018,Latin America,Prefeitura do Rio de Janeiro,31176,Rio de Janeiro,public,Brazil,True,-22.90540,-43.56140,0,2,0,1
25,2018,Latin America,Region Metropolitana de Guadalajara,35867,Guadalajara,public,Mexico,True,20.65970,-103.35000,0,0,0,1
26,2018,Latin America,RegiÃƒÂ³n Metropolitana de Santiago,31180,Santiago,public,Chile,True,-33.44890,-70.66930,0,3,0,0
27,2018,Middle East,Greater Amman Municipality,54337,Amman,public,Jordan,True,31.94540,35.92840,0,0,0,0
28,2018,North America,City of Austin,1184,Austin,public,United States of America,True,30.26720,-97.74310,0,0,0,0
29,2018,North America,"City of Portland, OR",14874,"Portland, OR",public,United States of America,True,45.52000,-122.68200,0,0,0,5
30,2018,North America,City of San Francisco,31182,San Francisco,public,United States of America,True,37.77490,-122.41900,0,1,0,0
31,2018,North America,City of Seattle,16581,Seattle,public,United States of America,True,47.60620,-122.33200,0,0,0,1
32,2018,North America,City of Vancouver,20113,Vancouver,public,Canada,True,49.26120,-123.11400,1,0,0,0
33,2018,North America,District of Columbia,31090,"Washington, DC",public,United States of America,True,38.90720,-77.03690,0,3,0,1
34,2018,South and West Asia,City District Government Karachi,31168,Karachi,public,Pakistan,True,24.91080,67.12810,0,0,0,0
35,2018,South and West Asia,Dhaka City,50782,Dhaka,public,Bangladesh,True,23.81030,90.41250,0,0,0,5
36,2018,South and West Asia,Kolkata Metropolitan Area,35904,Kolkata,public,India,True,22.57260,88.36390,0,0,0,1
37,2018,Southeast Asia and Oceania,Auckland Council,43932,Auckland,public,New Zealand,True,-36.81530,174.74200,0,3,0,1
38,2018,Southeast Asia and Oceania,Bangkok Metropolitan Administration,31150,Bangkok,public,Thailand,True,13.77120,100.55600,1,0,0,0
39,2018,Southeast Asia and Oceania,City of Melbourne,31109,City of Melbourne,public,Australia,True,-37.81410,144.96300,0,2,0,0
40,2018,Southeast Asia and Oceania,City of Sydney,31114,City of Sydney,public,Australia,True,-33.86750,151.20700,0,5,0,1
41,2018,Southeast Asia and Oceania,Ho Chi Minh City,31164,Ho Chi Minh,public,Viet Nam,True,10.76260,106.66000,3,1,0,0
42,2018,Southeast Asia and Oceania,Jakarta City Government,31166,Jakarta,public,Indonesia,True,-6.17510,106.86500,0,0,0,6

In [32]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
from nltk.tokenize import sent_tokenize, word_tokenize
import warnings
  
warnings.filterwarnings(action = 'ignore')
  
import gensim
from gensim.models import Word2Vec

In [33]:
import spacy
try:
    nlp = spacy.load("en_core_web_md")
except:
    spacy.cli.download('en_core_web_md')
    nlp = spacy.load("en_core_web_md")

In [47]:
c40_data_action_description = c40_data.action_description.apply(lambda x:nlp(' '.join(x)).vector if x else np.nan)

In [48]:
processed = nlp(' '.join(c40_data.action_description.iloc[0]))

In [57]:
replace = c40_data_action_description.mean()
c40_data_action_description = c40_data_action_description.apply(lambda x: replace if not isinstance(x,np.ndarray) else x)

In [50]:
c40_data_action_description.mean()

array([-1.69838220e-02,  1.12242132e-01, -4.27668765e-02, -1.07277714e-01,
       -2.24944055e-02,  1.82229653e-03, -4.84297201e-02,  9.69366636e-03,
       -8.00681487e-02,  1.96918797e+00, -2.88623124e-01, -3.12868110e-03,
        5.24468906e-02, -2.05828492e-02, -1.43529683e-01, -3.26475501e-02,
       -3.96126546e-02,  1.39790189e+00, -1.78410500e-01, -5.49613424e-02,
        2.95284968e-02,  2.96106488e-02, -8.09554830e-02, -3.81493680e-02,
        6.10170215e-02,  2.53590359e-03,  8.97452061e-04,  3.86917852e-02,
        1.62690580e-02,  3.74630955e-03, -2.12879516e-02, -1.05412006e-02,
       -2.45062970e-02, -3.26531976e-02,  6.56235889e-02, -9.41012129e-02,
        2.57159155e-02, -3.78166395e-03,  5.20633534e-02, -5.21873683e-02,
       -1.16431266e-02,  5.76804094e-02,  4.38490584e-02, -6.50522858e-02,
       -6.95356801e-02,  1.57016478e-02, -1.24762565e-01,  5.84449209e-02,
       -4.59467769e-02, -2.17325846e-03,  6.76942244e-02,  7.07759261e-02,
        3.39993578e-03,  3.40005495e-02,  8.24578479e-03, -5.97528275e-03,
        2.86667477e-02, -2.23729629e-02,  1.24640614e-02,  7.57570714e-02,
        2.64461320e-02, -1.64272059e-02, -3.09347846e-02,  1.63187593e-01,
        6.14947751e-02, -3.48604731e-02, -4.94061597e-02, -7.47517822e-03,
       -4.98761386e-02, -1.49390735e-02, -1.91438179e-02,  7.56844580e-02,
        1.40576109e-01, -7.85471052e-02,  9.09380540e-02, -7.40648014e-03,
        7.38115632e-04,  2.40781158e-02,  6.72463775e-02,  2.84706466e-02,
        2.05680877e-02,  1.22051403e-01, -8.58547688e-02, -3.53793544e-03,
       -3.62074114e-02, -1.52897149e-01, -8.19793791e-02,  1.41450614e-01,
        1.03866361e-01,  1.21828832e-01, -5.77612184e-02, -2.54730005e-02,
       -2.70177182e-02, -3.19423191e-02,  8.45740959e-02, -8.88947994e-02,
        3.81767936e-03, -4.45934333e-04,  1.55733125e-02, -3.86610776e-02,
        1.67589970e-02,  2.70287301e-02, -1.82036787e-01, -1.92623760e-03,
        4.84489230e-03, -8.94695938e-01,  2.36646384e-02,  4.17768322e-02,
       -2.28663087e-02, -9.99030918e-02,  1.33368140e-02, -1.20589919e-01,
        9.35430918e-03, -7.81875700e-02,  1.24382330e-02, -6.55184686e-02,
        6.09055720e-02,  4.11634631e-02, -3.73437293e-02,  2.52806712e-02,
        2.89738569e-02,  3.60458717e-02, -6.85194135e-02, -1.12346709e-01,
       -8.04440081e-02,  8.95558205e-03,  1.26183638e-02, -2.03575324e-02,
        6.10875972e-02, -1.32562825e-02, -8.14555399e-03, -4.99699563e-02,
       -2.25937795e-02, -1.35330399e-02,  8.39954615e-02,  1.08865649e-01,
       -3.52614350e-03, -2.01888680e-02,  9.61359292e-02,  4.43857051e-02,
       -5.86925566e-01,  5.09616993e-02,  1.42533362e-01,  1.99542614e-03,
        2.00912226e-02,  8.59833881e-03, -3.19423899e-02,  2.10840888e-02,
        5.75198652e-03, -4.33456665e-03, -3.62332761e-02,  6.56472594e-02,
        8.33830163e-02,  3.56527083e-02, -1.06647857e-01, -5.01220934e-02,
       -6.91090077e-02,  8.07436407e-02, -2.31774524e-02,  2.16113329e-02,
        7.48782381e-02,  5.18544130e-02, -8.88402238e-02,  3.08805872e-02,
       -5.55347279e-02, -6.56374767e-02,  7.30223954e-02, -8.67635012e-02,
        1.18289210e-01,  7.99174085e-02,  5.47697954e-03, -1.28458645e-02,
        1.10305203e-02, -1.84676219e-02, -4.25047502e-02,  5.25319539e-02,
        1.30085154e-02,  7.49002099e-02,  1.24931701e-01, -1.78544931e-02,
        1.29386273e-04, -4.43940312e-02, -1.04188114e-01, -8.87487382e-02,
       -2.60132216e-02, -8.35522190e-02, -1.21456143e-02, -8.95136502e-03,
       -3.38461325e-02, -1.93988793e-02, -3.62517089e-02,  6.62399409e-03,
       -4.52523790e-02,  5.93003072e-02, -1.65287349e-02,  1.35397747e-01,
       -2.42303945e-02,  1.83570087e-02, -7.13116378e-02,  1.83973655e-01,
        4.33705449e-02, -1.08447038e-02, -5.28267436e-02,  1.00808233e-01,
        1.54012859e-01,  8.54664482e-03,  7.46078864e-02,  1.03459537e-01,
        2.83715073e-02, -5.14788628e-02, -8.07295665e-02, -1.06149785e-01,
        1.10805295e-02, -1.10860139e-01,  2.76593938e-02,  5.83718680e-02,
       -5.68859130e-02,  6.18339330e-02, -1.42222539e-01,  3.10097728e-02,
       -4.50129509e-02,  4.17619161e-02,  3.39146890e-03,  7.88677037e-02,
        1.00056892e-02, -4.83869910e-02,  3.56626771e-02,  7.37164095e-02,
       -4.26248908e-02,  5.34431599e-02, -2.04938818e-02, -4.31185439e-02,
        8.78396854e-02,  2.23875642e-02, -3.59198451e-02,  3.44799161e-02,
        5.13155498e-02, -9.12194923e-02, -4.57234532e-02, -3.79357510e-03,
        5.78165911e-02, -2.56702937e-02,  6.62609935e-02, -3.86350066e-03,
        6.71054497e-02, -8.72759819e-02, -6.22741096e-02, -1.23834640e-01,
       -9.85941961e-02, -2.54492578e-03,  4.24669264e-03, -3.35268350e-03,
       -4.01086658e-02,  9.62612219e-03,  5.24196588e-02,  2.72947907e-01,
        6.16803840e-02, -6.83137625e-02, -3.22257914e-02, -1.83273964e-02,
        7.63192549e-02,  1.32151529e-01,  2.89297625e-02,  5.11052422e-02,
        7.08723813e-02, -2.18896195e-01, -3.82720679e-02, -3.17278877e-02,
        3.43594432e-01, -6.38218895e-02,  1.20556325e-01, -7.42969988e-03,
       -5.24876416e-02, -8.47806484e-02, -8.68141931e-03, -4.36876826e-02,
        6.61935359e-02,  7.92980567e-02, -1.34753762e-02,  1.28085151e-01,
        8.54980573e-02, -9.80448909e-04,  5.53394249e-03,  3.25780846e-02,
       -8.86161849e-02, -7.55031705e-02,  1.36076421e-01, -7.74169788e-02,
        6.62857741e-02, -7.40858912e-02, -2.01288283e-01,  1.68747511e-02,
        3.77411917e-02, -5.59425801e-02, -3.80308181e-02,  2.05783229e-02,
       -7.66663253e-02, -9.82935727e-02, -3.43805477e-02,  4.45650183e-02],
      dtype=float32)