In [6]:
import pandas as pd
from helpers import *

### Remember to extract Edstats_csv.zip to Edstats_csv

In [83]:
data_path = "C:/Users/joach/code-projects/WaterSecurity/data/unlabeled/Edstats_csv"
export_path = "preprocessed_data/preprocessed_edstats.csv"

In [75]:
#df_cs = pd.read_csv (f"{data_path}/EdStatsCountry-Series.csv")
df_c = pd.read_csv (f"{data_path}/EdStatsCountry.csv")
df_d = pd.read_csv (f"{data_path}/EdStatsData.csv")
#df_fn = pd.read_csv (f"{data_path}/EdStatsFootNote.csv")
df_s = pd.read_csv (f"{data_path}/EdStatsSeries.csv")

In [46]:
df_d.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100', 'Unnamed: 69'],
      dtype='object')

In [67]:
years = ['2015', '2016', '2017', '2020', '2025']
stripped_df_d = df_d[['Country Code','Indicator Code',*years]]
stripped_df_d

       Country Code        Indicator Code  2015  2016  2017  2020  2025
0               ARB            UIS.NERA.2   NaN   NaN   NaN   NaN   NaN
1               ARB          UIS.NERA.2.F   NaN   NaN   NaN   NaN   NaN
2               ARB        UIS.NERA.2.GPI   NaN   NaN   NaN   NaN   NaN
3               ARB          UIS.NERA.2.M   NaN   NaN   NaN   NaN   NaN
4               ARB           SE.PRM.TENR   NaN   NaN   NaN   NaN   NaN
...             ...                   ...   ...   ...   ...   ...   ...
886925          ZWE      UIS.LP.AG15T24.M   NaN   NaN   NaN   NaN   NaN
886926          ZWE     SE.ADT.1524.LT.ZS   NaN   NaN   NaN   NaN   NaN
886927          ZWE  SE.ADT.1524.LT.FE.ZS   NaN   NaN   NaN   NaN   NaN
886928          ZWE  SE.ADT.1524.LT.FM.ZS   NaN   NaN   NaN   NaN   NaN
886929          ZWE  SE.ADT.1524.LT.MA.ZS   NaN   NaN   NaN   NaN   NaN

[886930 rows x 7 columns]

In [64]:
dropColumnHalf(df_s)
df_d_withseries = stripped_df_d.merge(df_s, how='left', left_on='Indicator Code', right_on='Series Code')
df_d_withseries.drop(['Indicator Code'], inplace=True, axis=1)

In [65]:
df_d_withseries.columns

Index(['Country Code', '2015', '2016', '2017', '2020', '2025', 'Series Code',
       'Topic', 'Indicator Name', 'Short definition', 'Long definition',
       'Source'],
      dtype='object')

In [78]:
dropColumnHalf(df_c)

In [81]:
bigtable = df_d_withseries.merge(df_c, how='left', on="Country Code")
bigtable.columns

Index(['Country Code', '2015', '2016', '2017', '2020', '2025', 'Series Code',
       'Topic', 'Indicator Name', 'Short definition', 'Long definition',
       'Source', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'SNA price valuation',
       'Lending category', 'System of National Accounts', 'PPP survey year',
       'Balance of Payments Manual in use', 'External debt Reporting status',
       'System of trade', 'Government Accounting concept',
       'IMF data dissemination standard', 'Latest population census',
       'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Latest agricultural census', 'Latest trade data',
       'Latest water withdrawal data'],
      dtype='object')

In [82]:
bigtable.to_csv(export_path)