In [1]:
import pandas as pd
from helpers import *

### Remember to extract Edstats_csv.zip to Edstats_csv

In [2]:
data_path = "C:/Users/joach/code-projects/WaterSecurity/data/unlabeled/Edstats_csv"
export_path = "preprocessed_data/preprocessed_edstats.csv"

In [3]:
#df_cs = pd.read_csv (f"{data_path}/EdStatsCountry-Series.csv")
df_c = pd.read_csv (f"{data_path}/EdStatsCountry.csv")
df_d = pd.read_csv (f"{data_path}/EdStatsData.csv")
#df_fn = pd.read_csv (f"{data_path}/EdStatsFootNote.csv")
df_s = pd.read_csv (f"{data_path}/EdStatsSeries.csv")

In [7]:
df_d.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100', 'Unnamed: 69'],
      dtype='object')

In [8]:
years = ['2015', '2016', '2017', '2020']
stripped_df_d = df_d[['Country Code','Indicator Code',*years]]
print("Non na values in col 2020:",stripped_df_d['2020'].count())
stripped_df_d

Non na values in col 2020: 51436

       Country Code        Indicator Code  2015  2016  2017  2020
0               ARB            UIS.NERA.2   NaN   NaN   NaN   NaN
1               ARB          UIS.NERA.2.F   NaN   NaN   NaN   NaN
2               ARB        UIS.NERA.2.GPI   NaN   NaN   NaN   NaN
3               ARB          UIS.NERA.2.M   NaN   NaN   NaN   NaN
4               ARB           SE.PRM.TENR   NaN   NaN   NaN   NaN
...             ...                   ...   ...   ...   ...   ...
886925          ZWE      UIS.LP.AG15T24.M   NaN   NaN   NaN   NaN
886926          ZWE     SE.ADT.1524.LT.ZS   NaN   NaN   NaN   NaN
886927          ZWE  SE.ADT.1524.LT.FE.ZS   NaN   NaN   NaN   NaN
886928          ZWE  SE.ADT.1524.LT.FM.ZS   NaN   NaN   NaN   NaN
886929          ZWE  SE.ADT.1524.LT.MA.ZS   NaN   NaN   NaN   NaN

[886930 rows x 6 columns]

Merge colums to remove null values

In [9]:
for year in years[:-1]:
    fill_missing_with_column(stripped_df_d, '2020',year)
print("Non na values in col 2020:", stripped_df_d['2020'].count())
stripped_df_d

Non na values in col 2020: 132991
c:\Users\joach\code-projects\WaterSecurity\unlabeled_preprocessing\exploration\helpers.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[into] = df[into].combine_first(df[fro])
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

       Country Code        Indicator Code  2020
0               ARB            UIS.NERA.2   NaN
1               ARB          UIS.NERA.2.F   NaN
2               ARB        UIS.NERA.2.GPI   NaN
3               ARB          UIS.NERA.2.M   NaN
4               ARB           SE.PRM.TENR   NaN
...             ...                   ...   ...
886925          ZWE      UIS.LP.AG15T24.M   NaN
886926          ZWE     SE.ADT.1524.LT.ZS   NaN
886927          ZWE  SE.ADT.1524.LT.FE.ZS   NaN
886928          ZWE  SE.ADT.1524.LT.FM.ZS   NaN
886929          ZWE  SE.ADT.1524.LT.MA.ZS   NaN

[886930 rows x 3 columns]

In [11]:
dropColumnHalf(df_s)
df_d_withseries = stripped_df_d.merge(df_s, how='left', left_on='Indicator Code', right_on='Series Code')
df_d_withseries.drop(['Indicator Code'], inplace=True, axis=1)

In [15]:
df_d_withseries.columns

Index(['Country Code', '2020', 'Series Code', 'Topic', 'Indicator Name',
       'Short definition', 'Long definition', 'Source'],
      dtype='object')

Indicator to column

In [23]:
countryXindicator = df_d_withseries.pivot_table('2020',['Country Code'],'Indicator Name')
dcountryXindicator.dropna(axis=1,how="all")
ropColumnHalf(countryXindicator)
countryXindicator

Indicator Name,"Adjusted net enrolment rate, primary, both sexes (%)","Age population, age 0, female, UNESCO","Age population, age 0, total, UNESCO","Age population, age 01, female, UNESCO","Age population, age 01, total, UNESCO","Age population, age 02, female, UNESCO","Age population, age 02, total, UNESCO","Age population, age 03, female, UNESCO","Age population, age 03, total, UNESCO","Age population, age 04, female, UNESCO",...,Projection: Population in thousands by highest level of educational attainment. Upper Secondary. Female,Projection: Population in thousands by highest level of educational attainment. Upper Secondary. Male,Projection: Population in thousands by highest level of educational attainment. Upper Secondary. Total,"Teachers in primary education, both sexes (number)",Theoretical duration of primary education (years),Theoretical duration of secondary education (years),Theoretical duration of upper secondary education (years),"Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)"
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,542.0,1112.0,572.0,1170.0,600.0,1224.0,623.0,1269.0,643.0,...,7.91,5.74,13.65,NaN,6.0,5.0,3.0,NaN,NaN,NaN
AFG,NaN,682677.0,1403010.0,650389.0,1338500.0,620880.0,1279403.0,593957.0,1225345.0,569425.0,...,NaN,NaN,NaN,142880.0,6.0,6.0,3.0,12.700000,7.7,8.600000
AGO,NaN,414919.0,832093.0,396537.0,793950.0,379705.0,759164.0,364295.0,727455.0,350180.0,...,NaN,NaN,NaN,NaN,6.0,6.0,3.0,6.700000,5.7,6.200000
ALB,NaN,23697.0,49105.0,24026.0,49709.0,24243.0,50104.0,24360.0,50315.0,24397.0,...,589.89,585.20,1175.09,10119.0,5.0,7.0,3.0,17.299999,17.0,17.100000
AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,419.0,6.0,6.0,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,NaN,458859.0,936053.0,452601.0,923017.0,444988.0,907252.0,436223.0,889171.0,426514.0,...,NaN,NaN,NaN,NaN,6.0,6.0,3.0,32.700001,11.1,16.700001
ZAF,NaN,484535.0,980663.0,486901.0,985215.0,489516.0,990194.0,492299.0,995445.0,495165.0,...,6820.77,6978.94,13799.71,NaN,7.0,5.0,3.0,27.700001,23.1,25.200001
ZMB,NaN,226616.0,457329.0,220950.0,445451.0,215890.0,434876.0,211367.0,425454.0,207311.0,...,448.34,818.42,1266.76,NaN,7.0,5.0,3.0,8.000000,7.3,7.700000
ZWE,NaN,181422.0,364761.0,179761.0,361101.0,177982.0,357261.0,176130.0,353321.0,174240.0,...,2052.78,2154.54,4207.33,NaN,7.0,6.0,4.0,5.100000,5.1,5.100000

In [27]:
bigtable = countryXindicator.merge(df_c, how='left', on="Country Code")
bigtable.columns

Index(['Country Code', 'Adjusted net enrolment rate, primary, both sexes (%)',
       'Age population, age 0, female, UNESCO',
       'Age population, age 0, total, UNESCO',
       'Age population, age 01, female, UNESCO',
       'Age population, age 01, total, UNESCO',
       'Age population, age 02, female, UNESCO',
       'Age population, age 02, total, UNESCO',
       'Age population, age 03, female, UNESCO',
       'Age population, age 03, total, UNESCO',
       ...
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Latest agricultural census', 'Latest trade data',
       'Latest water withdrawal data'],
      dtype='object', length=629)

In [28]:
#bigtable.to_csv(export_path)
bigtable

,Country Code,"Adjusted net enrolment rate, primary, both sexes (%)","Age population, age 0, female, UNESCO","Age population, age 0, total, UNESCO","Age population, age 01, female, UNESCO","Age population, age 01, total, UNESCO","Age population, age 02, female, UNESCO","Age population, age 02, total, UNESCO","Age population, age 03, female, UNESCO","Age population, age 03, total, UNESCO",...,External debt Reporting status,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Latest agricultural census,Latest trade data,Latest water withdrawal data
0,ABW,NaN,542.0,1112.0,572.0,1170.0,600.0,1224.0,623.0,1269.0,...,NaN,Special trade system,NaN,NaN,2010,NaN,NaN,NaN,2012.0,NaN
1,AFG,NaN,682677.0,1403010.0,650389.0,1338500.0,620880.0,1279403.0,593957.0,1225345.0,...,Actual,General trade system,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",2013/14,2012.0,2000
2,AGO,NaN,414919.0,832093.0,396537.0,793950.0,379705.0,759164.0,364295.0,727455.0,...,Actual,Special trade system,Budgetary central government,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",2015,NaN,2005
3,ALB,NaN,23697.0,49105.0,24026.0,49709.0,24243.0,50104.0,24360.0,50315.0,...,Actual,General trade system,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,2012,2012.0,2006
4,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Special trade system,NaN,NaN,2011. Population figures compiled from adminis...,NaN,NaN,NaN,2006.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Actual,NaN,NaN,General Data Dissemination System (GDDS),2011,NaN,"Integrated household survey (IHS), 2011",NaN,NaN,NaN
237,YEM,NaN,458859.0,936053.0,452601.0,923017.0,444988.0,907252.0,436223.0,889171.0,...,Actual,Special trade system,Budgetary central government,General Data Dissemination System (GDDS),2004,"Demographic and Health Survey (DHS), 2013","Expenditure survey/budget survey (ES/BS), 2005",NaN,2012.0,2005
238,ZAF,NaN,484535.0,980663.0,486901.0,985215.0,489516.0,990194.0,492299.0,995445.0,...,Preliminary,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey (DHS), 2003; Wor...","Expenditure survey/budget survey (ES/BS), 2010",2007,2012.0,2000
239,ZMB,NaN,226616.0,457329.0,220950.0,445451.0,215890.0,434876.0,211367.0,425454.0,...,Actual,Special trade system,Budgetary central government,General Data Dissemination System (GDDS),2010,"Demographic and Health Survey (DHS), 2013","Integrated household survey (IHS), 2010",2010. Population and Housing Census.,2011.0,2002
240,ZWE,NaN,181422.0,364761.0,179761.0,361101.0,177982.0,357261.0,176130.0,353321.0,...,Actual,General trade system,Consolidated central government,General Data Dissemination System (GDDS),2012,"Demographic and Health Survey (DHS), 2010/11","Integrated household survey (IHS), 2011/12",NaN,2012.0,2002