In [29]:
import pandas as pd

In [30]:
ls

Country.csv  Data.csv     Prep.ipynb   Series.csv

In [198]:
df1 = pd.read_csv (r"Country.csv")
df1.shape

(149, 32)

In [199]:
def dropColumnHalf(df):
    df.dropna(thresh=len(df1.index)/2, axis=1, inplace=True)

In [200]:
dropColumnHalf(df1)
df1.shape

(149, 27)

In [201]:
df2 = pd.read_csv (r"Data.csv")
trial = pd.read_csv (r"Data.csv")
df2.shape

(298, 26)

In [202]:
dropColumnHalf(df2)
df2.shape

(298, 25)

In [203]:
print(df2.columns)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015'],
      dtype='object')

In [204]:
trial.drop('Country Name', inplace=True, axis=1)
trial.drop('Country Code', inplace=True, axis=1)
trial.drop('Indicator Name', inplace=True, axis=1)
trial.drop('Indicator Code', inplace=True, axis=1)

df2['Numbers'] = trial.to_dict("records")
df2.shape

(298, 26)

In [205]:
cols = [c for c in df2.columns if c.lower()[0] != '1']
df2 = df2[cols]
cols = [c for c in df2.columns if c.lower()[0] != '2']
df2 = df2[cols]
df2.shape

(298, 5)

In [206]:
print(df1.shape)
print(df2.shape)

(149, 27)
(298, 5)

In [207]:
comb1 = df1.merge(df2, how='inner', left_on='Country Code', right_on='Country Code')

In [208]:
print(comb1.columns)
print(comb1.shape)

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'SNA price valuation',
       'Lending category', 'System of National Accounts', 'PPP survey year',
       'Balance of Payments Manual in use', 'External debt Reporting status',
       'System of trade', 'Government Accounting concept',
       'IMF data dissemination standard', 'Latest population census',
       'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Latest agricultural census', 'Latest industrial data',
       'Latest trade data', 'Latest water withdrawal data', 'Country Name',
       'Indicator Name', 'Indicator Code', 'Numbers'],
      dtype='object')
(298, 31)

In [209]:
df3 = pd.read_csv (r"Series.csv")
print(df3.shape)

(2, 21)

In [210]:
display(df3)

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,EF.EFM.OVRL.XD,Economic Policy & Debt,Economic Fitness Metric,NaN,Economic Fitness (EF) is both a measure of a c...,NaN,Annual,NaN,NaN,NaN,...,NaN,NaN,"World Bank, Economic Fitness project. For more...",The new literature of Economic Fitness uses te...,NaN,NaN,NaN,NaN,NaN,NaN
1,EF.EFM.RANK.XD,Economic Policy & Debt,"Economic Fitness Ranking (1 = high, 149 = low)",NaN,NaN,NaN,Annual,NaN,NaN,NaN,...,NaN,NaN,"World Bank, Economic Fitness project. For more...",The new literature of Economic Fitness uses te...,NaN,NaN,NaN,NaN,NaN,NaN

In [211]:
comb2 = comb1.merge(df3, how='inner', left_on='Indicator Code', right_on='Series Code')
print(comb2.shape)
dropColumnHalf(comb2)
print(comb2.shape)

(298, 52)
(298, 39)

In [212]:
comb2.columns

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'SNA price valuation',
       'Lending category', 'System of National Accounts', 'PPP survey year',
       'Balance of Payments Manual in use', 'External debt Reporting status',
       'System of trade', 'Government Accounting concept',
       'IMF data dissemination standard', 'Latest population census',
       'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Latest agricultural census', 'Latest industrial data',
       'Latest trade data', 'Latest water withdrawal data', 'Country Name',
       'Indicator Name_x', 'Indicator Code', 'Numbers', 'Series Code', 'Topic',
       'Indicator Name_y', 'Long definition', 'Periodicity',
       'Limitations and exceptions', 'Source',
       'Statistical concept and methodology'],
      dtype='object')

In [213]:
comb2['Indicator Code']

0      EF.EFM.OVRL.XD
1      EF.EFM.OVRL.XD
2      EF.EFM.OVRL.XD
3      EF.EFM.OVRL.XD
4      EF.EFM.OVRL.XD
            ...
293    EF.EFM.RANK.XD
294    EF.EFM.RANK.XD
295    EF.EFM.RANK.XD
296    EF.EFM.RANK.XD
297    EF.EFM.RANK.XD
Name: Indicator Code, Length: 298, dtype: object

In [214]:
comb2['Series Code']

0      EF.EFM.OVRL.XD
1      EF.EFM.OVRL.XD
2      EF.EFM.OVRL.XD
3      EF.EFM.OVRL.XD
4      EF.EFM.OVRL.XD
            ...
293    EF.EFM.RANK.XD
294    EF.EFM.RANK.XD
295    EF.EFM.RANK.XD
296    EF.EFM.RANK.XD
297    EF.EFM.RANK.XD
Name: Series Code, Length: 298, dtype: object

In [215]:
print(comb2.shape)
comb2.drop('Indicator Code', inplace=True, axis=1)

(298, 39)

In [219]:
print(comb2.shape)

(298, 38)

In [218]:
comb2.to_csv("processed1.csv")